# Qualitative Assesment of Models

In [19]:
import  pandas as pd
from IPython.display import display, HTML

In [20]:
# Load predictions
gpt_4 = pd.read_csv('outputs/eval_demographics-fewshot_gpt-4-0125-preview_minc-40_maxc-4000_clean.csv')
gpt_4_o = pd.read_csv('outputs/eval_demographics-fewshot_gpt-4o-2024-05-13_minc-40_maxc-4000_clean.csv')
ff = pd.read_csv('outputs/eval_demographics-fewshot_firefunction-v1_minc-40_maxc-4000_clean.csv')

# Load only subset of columns
embeddings = pd.read_parquet('outputs/eval_embeddings_minc-40_maxc-4000.parquet', 
                             columns=['content', 'start_char', 'end_char', 'pmcid', 'section_0', 'section_1'])

# Load annotations
annotations = pd.read_csv('annotations/jerome_pd.csv').drop(columns=['Unnamed: 0'])

In [21]:
def _get_corr_groups(annotations, predictions):
    annotations = annotations.copy()
    annotations = annotations[annotations.pmcid.isin(predictions.pmcid.unique())]
    pred_n_groups = predictions.groupby('pmcid').size()
    n_groups = annotations.groupby('pmcid').size()
    return (n_groups == pred_n_groups)

In [22]:
gpt_4_corr_groups = _get_corr_groups(annotations, gpt_4)
ff_corr_groups = _get_corr_groups(annotations, ff)

# IDs where both got it right
both_right = gpt_4_corr_groups & ff_corr_groups
both_right = both_right.index[both_right]

In [58]:
def _print_context(pmcid, annotation, predictions, embeddings):
    print("PMC ID: ", pmcid)
    subset_rows = ['count', 'diagnosis', 'group_name', 'subgroup_name',
       'male_count', 'female_count', 'age_mean', 'age_minimum', 'age_maximum',
       'age_median']
    
    pred_subset_cols = ['imaging_sample']
    
    if 'assesment_type' in predictions.columns:
        pred_subset_cols += ['assesment_type']
    
    annotation = annotation[(annotation.pmcid == pmcid)]
    annotation = annotation[subset_rows]

    pred = predictions[predictions.pmcid == pmcid]

    for start_char, g in pred.groupby('start_char'):
        print("Context: ")
        print(embeddings[(embeddings.pmcid == pmcid) & (embeddings.start_char == start_char)].content.values[0])

        print("Predictions: ")
        display(g[subset_rows + pred_subset_cols])

    print("Annotation: ")
    display(annotation)

In [24]:
combined = pd.concat([gpt_4_o, gpt_4, ff], keys=['gpt-4o', 'gpt4-turbo', 'firefunction-v1'], names=['model'])

In [25]:
combined

                     count diagnosis group_name subgroup_name  male_count  \
model
gpt-4o          0     15.0       NaN    healthy           NaN         5.0
                1     23.0       NaN    healthy  participants        18.0
                2     16.0       NaN    healthy           NaN         9.0
                3     15.0       NaN    healthy          fMRI         8.0
                4     45.0       NaN    healthy  participants        18.0
...                    ...       ...        ...           ...         ...
firefunction-v1 529   15.0       TSC   patients     reduction         7.0
                530   15.0       TSC   patients         total         7.0
                531   15.0       TSC   patients        volume         7.0
                532   15.0       TSC   patients    target AML         7.0
                533   15.0       TSC   patients      compared         7.0

                     female_count  age_mean age_range  age_minimum  \
model
gpt-4o          0            10.0     31.60     22-54         22.0
                1             5.0    222.00       NaN          NaN
                2             7.0       NaN     18-35         18.0
                3             7.0     22.21       NaN          NaN
                4            27.0     24.49       NaN          NaN
...                           ...       ...       ...          ...
firefunction-v1 529           8.0     43.50     20-60         20.0
                530           8.0     44.50     20-60         20.0
                531           8.0     45.50     20-60         20.0
                532           8.0     46.50     20-60         20.0
                533           8.0       NaN       NaN          NaN

                     age_maximum  age_median imaging_sample    pmcid  rank  \
model
gpt-4o          0           54.0         NaN            yes  7981326   0.0
                1            NaN         NaN             no  4330553   0.0
                2           35.0         NaN             no  3183226   0.0
                3            NaN         NaN            yes  6195265   0.0
                4            NaN         NaN            yes  5428836   0.0
...                          ...         ...            ...      ...   ...
firefunction-v1 529         60.0        43.0            yes  9308181   NaN
                530         60.0        44.0            yes  9308181   NaN
                531         60.0        45.0            yes  9308181   NaN
                532         60.0        46.0            yes  9308181   NaN
                533          NaN         NaN            yes  9308181   NaN

                     start_char  end_char
model
gpt-4o          0          9579     10553
                1         10707     11145
                2         28053     28467
                3         13097     13950
                4         26550     27302
...                         ...       ...
firefunction-v1 529        5201      8942
                530        5201      8942
                531        5201      8942
                532        5201      8942
                533        5201      8942

[1405 rows x 16 columns]

In [26]:
_print_context(both_right[2], annotations, combined, embeddings)

PMC ID:  2525845
Context:

## Material and methods

### Subjects

Thirty-four healthy, right-handed, heterosexual German subjects (age-range 23–45 years) participated in the study after giving their informed consent. The study was approved by the local Institutional Ethical Review Board and was performed in accordance with the ethical standards laid down in the 1964 Declaration of Helsinki. Men were examined once, women twice in pseudo-randomized order—once 1–3 days after onset of menses (early follicular phase) and once in the midluteal phase adjusted for cycle length (individual cycle length −7 days with a range of ±2 days). Only pre-menopausal women with stable cycle length were included and any form of hormonal treatment was excluded. The phase of the menstrual cycle was confirmed by sex steroid hormone analysis (for details see below). None of the subjects had a history of a serious medical disease, or any neurological or psychiatric illness. Twelve females and 12 males were included in the final analysis (for details see Table  ).
Subjects baseline characterization and task performance (mean ± SD)

 T   tests between groups are not significant if not indicated otherwise.  Value differs significantly from value in other groups

 For women during the early follicular phase and women during the midluteal phase versus men   P   < 0.001

For women during the early follicular phase versus men   P   = 0.008. For women during the midluteal phase versus men   P   < 0.001 and versus women during the early follicular phase   P   < 0.001

For women during the midluteal phase versus men   P   < 0.001 and versus women during the early follicular phase   P   < 0.001


Reasons of exclusion were either technical or to achieve homogeneity of the hormonal status and cycle phase. A second fMRI scan could not be obtained for two women. In six female participants, the sex steroid hormone analysis revealed values not corresponding to the target phase of their menstrual cycle that was expected from their menstrual history (four anovulatory cycles, two cycles with high progesterone levels in the presumed early follicular phase). Two males were excluded because of unusually low or high testosterone levels.

Intelligence was assessed using CFT 20 (Weiss  ) and MWT-B (Lehrl et al.  ), two German standard short measures for estimating intelligence quotients based on visuo-spatial and verbal material, respectively. There were no significant differences between men and women for age or intelligence measures (see Table  ). All participants had more than 12 years of education. Handedness was assessed by the Edinburgh handedness inventory (Oldfield  ).


Predictions:

,,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median,imaging_sample
model,,,,,,,,,,,,
gpt-4o,316,24.0,NaN,healthy,final analysis,12.0,12.0,NaN,23.0,45.0,NaN,yes
gpt4-turbo,312,24.0,NaN,healthy,final analysis,12.0,12.0,NaN,23.0,45.0,NaN,yes
firefunction-v1,359,34.0,NaN,healthy,all,12.0,12.0,2345.0,23.0,45.0,2345.0,no

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
4,24,NaN,healthy,_,12.0,12.0,NaN,NaN,NaN,NaN

In this example, firefunction does well, but is not able to recognize that the final sample was 12 male + 12 female subjects = 24. 
GPT-4, impressively, is able to extract this complex annotation

In [27]:
_print_context(both_right[3], annotations, combined, embeddings)

PMC ID:  2648877
Context:

## Methods

### Participants

Thirty-three individuals participated in the study: 15 participants with Autism Spectrum Disorder (12 males; 3 females) and 18 non-autistic control participants (13 males; 5 females). Groups were matched on age (ASD   M  : 38 years, SD: 13; control   M  : 32 years, SD: 8;   t  (31) = 1.6,   p   = .13), and IQ (ASD   M  : 119, SD: 14; control   M  : 119, SD: 11;   t  (31) = 0.1,   p   = .93). Full-scale IQ was measured using the Wechsler Adult Intelligence Scale 3rd UK Edition ( ), apart from one control participant for whom IQ was estimated from the National Adult Reading Test (NART;  ). All participants in the ASD group had previously received a diagnosis from an independent clinician according to standard criteria. The Autism Diagnostic Observational Schedule-Generic (ADOS-G,  ), was used to characterise the participants’ level of current functioning. This measure was chosen because all participants were adults; it was therefore not always possible to interview parents or caregivers, as required by other measures such as the Autism Diagnostic Interview (ADI;  ). On the ADOS-G, eight participants met criteria for autism, whilst six participants met criteria for autistic spectrum disorder. One participant was unwilling to complete the ADOS-G. All participants were right-handed, had normal or corrected-to-normal vision and were naïve with respect to the purpose of the experiment. None had performed the present experimental tasks, or related tasks, previously. The experiment was performed with local ethical committee approval and in accordance with the ethical standards laid down in the 1964 Declaration of Helsinki. Written informed consent was obtained from all participants before their inclusion in the study.


Predictions:

                     count                 diagnosis group_name subgroup_name  \
model
gpt-4o          133   15.0  Autism Spectrum Disorder   patients           ASD
                134   18.0                       NaN    healthy       control
gpt4-turbo      128   15.0  Autism Spectrum Disorder   patients           ASD
                129   18.0                       NaN    healthy       control
firefunction-v1 140   33.0  Autism Spectrum Disorder   patients           ASD
                141   18.0                       NaN    healthy       control

                     male_count  female_count  age_mean  age_minimum  \
model
gpt-4o          133        12.0           3.0      38.0          NaN
                134        13.0           5.0      32.0          NaN
gpt4-turbo      128        12.0           3.0      38.0          NaN
                129        13.0           5.0      32.0          NaN
firefunction-v1 140        12.0           3.0      38.0         38.0
                141        13.0           5.0      32.0         32.0

                     age_maximum  age_median imaging_sample
model
gpt-4o          133          NaN         NaN             no
                134          NaN         NaN             no
gpt4-turbo      128          NaN         NaN             no
                129          NaN         NaN             no
firefunction-v1 140         38.0        38.0            yes
                141         32.0        32.0            yes

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
7,18,NaN,healthy,_,13.0,5.0,32.0,NaN,NaN,NaN
8,15,Autism Spectrum Disorder,patients,_,12.0,3.0,38.0,NaN,NaN,NaN

Here, FireFunction mistakes the total sample size (33), for the subgroup size (Autism Spectrum Disorder)

In [28]:
_print_context(both_right[4], annotations, combined, embeddings)

PMC ID:  2775905
Context:

## Materials and methods

### Participants

Twenty-two participants (13M, 9F) took part in the study although four (2M, 2F) were subsequently excluded due to: i) excessive head motion (> 10 mm), ii) an unexpected brain abnormality, iii) chance level performance in the scanner, and iv) an error acquiring the scanning data. The 18 remaining participants were right-handed, native speakers of British English (mean 26.7 years, median 22.5 years, range 18–60 years) without any history of neurological or psychiatric disease. The behavioural and neuroimaging data from the older participant (the one 60 year-old) did not differ qualitatively from the younger participants and therefore was included in all analyses. None had any form of oral or written language impairment or any previous experience with time-compressed speech. None of the participants reported any hearing difficulties, but were not audiometrically screened. In-scanner preliminary testing revealed that all participants could hear the stimuli clearly enough to perform the task (see  , below). All gave written informed consent and were paid for their participation. The study was approved by the NHS Berkshire Research Ethics Committee.


Predictions:

,,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median,imaging_sample
model,,,,,,,,,,,,
gpt-4o,73,18.0,NaN,healthy,NaN,11.0,7.0,26.7,18.0,60.0,22.5,yes
gpt4-turbo,68,18.0,NaN,healthy,NaN,11.0,7.0,26.7,18.0,60.0,22.5,yes
firefunction-v1,119,22.0,NaN,healthy,participants,13.0,9.0,26.7,18.0,60.0,22.0,no

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
10,18,NaN,healthy,_,NaN,NaN,26.7,18.0,60.0,22.5

Here, FireFunction gets the correct *total* sample size, but not the imaging sample size.

In [29]:
_print_context(both_right[7], annotations, combined, embeddings)

PMC ID:  3002948
Context:

## Materials and Methods

### Participants

Fifteen participants were phobic prone (PP) (6 females; mean age 39.2; standard deviation [SD] 7.4) and 15 were eating disorders prone (EDP) (5 females; mean age 34.4; standard deviation [SD] 8.65). The couples enrolled had been together in a committed relationship for the last three years and had been living together for at least one year. To assign the participants to a group, they were assessed with a semi-structured interview  –  and the Personality Meaning Questionnaire (PMQ)   one month before the scanning session. Concordance between the two investigators was 100%. As in our previous study  – , the semi-structured interview was administered independently by two trained investigators who were blind to each other's results. The aim of the semi-structured interview was to assess the key themes characterizing different affective-cognitive styles in the matter of emotional activation, duration and regulation. The semi-structured interview was divided into three consecutive steps. The subject was asked to give a detailed account of two meaningful emotional experiences involving anger and fear. After the account, the interviewer marked the characteristics of the appraisal, regulation and duration of the emotional experiences. If necessary, the interviewer asked for more details and then, the interviewer assessed the underlying predominant affective-cognitive style. The PP key themes detected were the tendency a) to focus on the visceral bodily states once the basic emotions have been triggered (automatic appraisal), b) to have the subjective perception of inability to modify these emotions after they have been triggered (duration), c) to have control over bodily-emotional condition aimed at limiting the emotional intensity; fear in these subjects lasts just as long as the perception of not being in control (regulation). Instead, EDP key themes detected were the tendency a) to focus on the outward referent recognized as the source of one's own emotional states (reflective appraisal), b) to have the subjective perception of capability to rapidly change these emotions by modifying the simultaneous focus on a different point of reference (duration), c) to adjust their personal stability to the perceived source of reference; being without a point of reference is perceived by these subjects as a feeling of emptiness (regulation). The PMQ questions on which PP subjects tend to score higher identify a score of need for emotional over-control in situations that may be felt as potentially dangerous (PP score)  . The questions on which EDP subjects score higher identify a score for need for consent and approval, sensitivity to judgment, and vulnerability to criticism (EDP score)  .

Predictions:

                     count               diagnosis group_name  \
model
gpt-4o          372   15.0            phobic prone   patients
                373   15.0  eating disorders prone   patients
gpt4-turbo      375   15.0            phobic prone   patients
                376   15.0  eating disorders prone   patients
firefunction-v1 438   15.0            phobic prone   patients
                439   15.0  eating disorders prone   patients

                              subgroup_name  male_count  female_count  \
model
gpt-4o          372                      PP         9.0           6.0
                373                     EDP        10.0           5.0
gpt4-turbo      375                      PP         9.0           6.0
                376                     EDP        10.0           5.0
firefunction-v1 438            phobic prone         6.0           9.0
                439  eating disorders prone         5.0          10.0

                     age_mean  age_minimum  age_maximum  age_median  \
model
gpt-4o          372      39.2          NaN          NaN         NaN
                373      34.4          NaN          NaN         NaN
gpt4-turbo      375      39.2          NaN          NaN         NaN
                376      34.4          NaN          NaN         NaN
firefunction-v1 438      39.2         32.0         46.0        39.0
                439      34.4         26.0         42.0        34.0

                    imaging_sample
model
gpt-4o          372            yes
                373            yes
gpt4-turbo      375            yes
                376            yes
firefunction-v1 438             no
                439             no

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
15,15,NaN,healthy,phobic prone,9.0,6.0,39.2,NaN,NaN,NaN
16,15,NaN,healthy,eating disorders prone,10.0,5.0,34.4,NaN,NaN,NaN

This is a fairly impressive result for both models. They got the correct sample size for each subgroup.

In general, in a large amount of examples, both models extract the correct information.

The column `imaging_sample` is often wrong for short contexsts. It only seems correct when there's a behavioral and non behavioral sample.

In [30]:
_print_context(both_right[17], annotations, combined, embeddings)

PMC ID:  3422286
Context:

## Methods

### Participants

Twelve subjects (six females) with a mean age of 26 years (range 23–39 years) participated in the first experiment, 14 in the second (seven females, mean age 23 years, range 24–30 years). The participants gave informed written consent to the study, which adhered to the Declaration of Helsinki and was approved by the human subjects committee of the Otto-von-Guericke University Magdeburg.

All subjects were right-handed as assessed by the Edinburgh Handedness Inventory  .


Predictions:

                    count diagnosis group_name      subgroup_name  male_count  \
model
gpt-4o          5    12.0       NaN    healthy   first experiment         6.0
                6    14.0       NaN    healthy  second experiment         7.0
gpt4-turbo      9    12.0       NaN    healthy   first experiment         6.0
                10   14.0       NaN    healthy  second experiment         7.0
firefunction-v1 8    12.0       NaN    healthy   first experiment         6.0
                9    14.0       NaN    healthy  second experiment         7.0

                    female_count  age_mean  age_minimum  age_maximum  \
model
gpt-4o          5            6.0      26.0         23.0         39.0
                6            7.0      23.0         24.0         30.0
gpt4-turbo      9            6.0      26.0         23.0         39.0
                10           7.0      23.0         24.0         30.0
firefunction-v1 8            6.0      26.0         23.0         39.0
                9            7.0      23.0         24.0         30.0

                    age_median imaging_sample
model
gpt-4o          5          NaN             no
                6          NaN             no
gpt4-turbo      9          NaN             no
                10         NaN             no
firefunction-v1 8         26.0             no
                9         23.0             no

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
30,14,NaN,healthy,study 2,7.0,7.0,23.0,24.0,30.0,NaN
31,12,NaN,healthy,study 1,6.0,6.0,26.0,23.0,39.0,NaN

In [31]:
_print_context(9564100, annotations, combined, embeddings)

PMC ID:  9564100
Context:

## Materials and Methods

### Participants.

We recruited healthy, young participants (872 females, 546 males, mean age = 22.39 y, SD = 3.27). Advertising was done mainly at the University of Basel and in local newspapers. The participants were free of any neurological or psychiatric illness, did not take any medication at the time of the experiment (except hormonal contraceptives), and were between ages 18 and 35 y. Physical and mental health was assessed based on standard questionnaires. The experiment was approved by the ethics committee of the Canton of Basel, Switzerland. All participants gave written informed consent before participating in the study. Prior to the analysis, the sample was divided into a discovery sample (  n   = 945, 2/3 of all participants) and a replication sample (  n   = 473, 1/3 of all participants) by randomly assigning participants to one of the samples. Randomization was performed using the Matlab function randperm. There were no significant differences between the discovery and replication samples in terms of age, sex, or emotional memory enhancement (  P   ≥ 0.33, 2-sided testing,   n   = 1,418).


Predictions:

                     count diagnosis group_name  \
model
gpt-4o          39  1418.0       NaN    healthy
                40   945.0       NaN    healthy
                41   473.0       NaN    healthy
gpt4-turbo      78  1418.0       NaN    healthy
                79   945.0       NaN    healthy
                80   473.0       NaN    healthy
firefunction-v1 34  1418.0       NaN    healthy

                                        subgroup_name  male_count  \
model
gpt-4o          39                            overall       546.0
                40                          discovery         NaN
                41                        replication         NaN
gpt4-turbo      78                              total       546.0
                79                          discovery         NaN
                80                        replication         NaN
firefunction-v1 34  discovery and replication samples       546.0

                    female_count  age_mean  age_minimum  age_maximum  \
model
gpt-4o          39         872.0     22.39         18.0         35.0
                40           NaN       NaN          NaN          NaN
                41           NaN       NaN          NaN          NaN
gpt4-turbo      78         872.0     22.39         18.0         35.0
                79           NaN       NaN          NaN          NaN
                80           NaN       NaN          NaN          NaN
firefunction-v1 34         872.0     22.39         18.0         35.0

                    age_median imaging_sample
model
gpt-4o          39         NaN             no
                40         NaN             no
                41         NaN             no
gpt4-turbo      78         NaN             no
                79         NaN             no
                80         NaN             no
firefunction-v1 34        22.0             no

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
423,1418,NaN,healthy,_,546.0,872.0,22.39,18.0,35.0,NaN

In this example, FF actually got closer, bc GPT exracted the discovery sample and replication sample in addition, both of which are subsample of the total. 
Perhaps I can modify the instruction for "imaging_sample" to say "FINAL total".

Alternative both extractions are relatively useful, if incomplete

## Worst examples

For FireFunction model

In [32]:
ff_mean = ff.groupby('pmcid').apply(lambda x: x['count'].mean())
annot_mean = annotations.groupby('pmcid').apply(lambda x: x['count'].mean())
((ff_mean-annot_mean) / annot_mean).abs().sort_values(ascending=False).head(10)

pmcid
5832413    57.687500
3423412     2.000000
7004957     1.941176
5598991     1.387931
3701149     1.221277
3913832     1.129032
7395771     1.000000
8782893     1.000000
3554651     1.000000
4048172     1.000000
dtype: float64

In [33]:
_print_context(5832413, annotations, combined, embeddings)

PMC ID:  5832413
Context:

## Materials and methods

### Participants

#### Behavior-based visual similarity rating task and conceptual feature generation task

A total of 2846 individuals completed online behavioral tasks using Amazon’s Mechanical Turk ( ). Data from 61 participants were discarded due to technical errors, incomplete submissions, or missed catch trials. Of the remaining 2785 participants, 1185 completed the visual similarity rating task (616 males, 569 females; age range = 18–53; mean age = 30.1), and 1600 completed the semantic feature generation task (852 males, 748 females; age range = 18–58 years; mean age = 31.7). These sample sizes are proportionally in line with those reported by  . Individuals who completed the visual similarity rating task were excluded from completing the feature generation task, and vice versa. All participants provided informed consent and were compensated for their time. Both online tasks were approved by the University of Toronto Ethics Review Board.


#### Brain-based fMRI task

A separate group consisting of sixteen right-handed participants took part in the fMRI experiment (10 female; age range = 19–29 years; mean age = 23.1 years). This sample size is in line with extant fMRI studies that have used comparable analytical procedures to test hypotheses pertaining to object representation in the ventral visual stream and ATL ( ;  ;  ;  ;  ;  ; ;  ;  ). Due to technical problems, we were unable to obtain data from one experimental run in two different participants. No participants were removed due to excessive motion using a criterion of 1.5 mm of translational displacement. All participants gave informed consent, reported that they were native English speakers, free of neurological and psychiatric disorders, and had normal or corrected to normal vision. Participants were compensated $50. This study was approved by the Baycrest Hospital Research Ethics Board.



Predictions:

                      count diagnosis group_name  \
model
gpt-4o          201  1185.0       NaN    healthy
                202  1600.0       NaN    healthy
                203    16.0       NaN    healthy
gpt4-turbo      201  2785.0       NaN    healthy
                202    16.0       NaN    healthy
firefunction-v1 226  2785.0       NaN    healthy
                227    16.0       NaN    healthy
                228    16.0       NaN    healthy

                                                         subgroup_name  \
model
gpt-4o          201                      visual similarity rating task
                202                   semantic feature generation task
                203                                          fMRI task
gpt4-turbo      201  behavior-based visual similarity rating task a...
                202                              brain-based fMRI task
firefunction-v1 226                                         behavioral
                227                                               fMRI
                228                                               fMRI

                     male_count  female_count  age_mean  age_minimum  \
model
gpt-4o          201       616.0         569.0      30.1         18.0
                202       852.0         748.0      31.7         18.0
                203         6.0          10.0      23.1         19.0
gpt4-turbo      201      1468.0        1317.0      30.9         18.0
                202         6.0          10.0      23.1         19.0
firefunction-v1 226       616.0         569.0      30.1         18.0
                227        10.0           6.0      23.1         19.0
                228        10.0           6.0      23.1         19.0

                     age_maximum  age_median imaging_sample
model
gpt-4o          201         53.0         NaN             no
                202         58.0         NaN             no
                203         29.0         NaN            yes
gpt4-turbo      201         58.0         NaN             no
                202         29.0         NaN            yes
firefunction-v1 226         53.0        30.0             no
                227         29.0        23.0            yes
                228         29.0        23.0            yes

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
214,16,NaN,healthy,_,6.0,10.0,23.1,19.0,29.0,NaN

Actually, in this example, both models do a good job of filtering the `imaging_sample` from the behavioral sample. FF dobule extracts sample size, however. 

Could add a rule that if two extractions are identical across all rows, a duplicate is removed. Could accidentally remove real equal sample sizes, however.

In [34]:
_print_context(3423412, annotations, combined, embeddings)

PMC ID:  3423412
Context:

## Materials and Methods

### Subjects

Thirty-six right-handed subjects participated in this study after giving written informed consent, including 14 patients with AD, 8 patients with MCI and 14 healthy controls. This study was approved by the Medical Research Ethics Committee of Xuanwu Hospital. The AD and MCI subjects were recruited from patients who had consulted the memory clinic at Xuanwu Hospital for memory complaints. The healthy elderly controls were recruited from the local community.

All AD patients underwent a complete physical and neurological examination, standard laboratory tests and an extensive battery of neuropsychological assessments. The diagnosis of AD fulfilled the Diagnostic and Statistical Manual of Mental Disorders 4th Edition criteria for dementia (American Psychiatric Association, 1994), and the National Institute of Neurological and Communicative Disorders and Stroke/Alzheimer Disease and Related Disorders Association (NINCDS-ADRDA) criteria for possible or probable AD (McKhann et al., 1984). The subjects were assessed with the Clinical Dementia Rating (CDR) score  , CDR of 1 and 2 was assigned to the AD category.

Participants with MCI had memory impairment but did not meet the criteria for dementia. The criteria for identification and classification of subjects with MCI   was: a) impaired memory performance on a normalized objective verbal memory test; b) recent history of symptomatic worsening in memory; c) normal or near-normal performance on global cognitive tests (MMSE score>24), as well as on an activities of daily living scale; (d) global rating of 0.5 on the CDR Scale, with a score of at least 0.5 on the memory domain; e) absence of dementia.

Healthy controls met the following criteria: a) no neurological or psychiatric disorders such as stroke, depression and epilepsy; b) no neurological deficiencies such as visual or hearing loss; c) no abnormal findings such as infarction or focal lesion in conventional brain MR imaging; d) no cognitive complaints; e) MMSE score of 28 or higher; f) CDR score of 0.

Participants with contraindications for MRI such as pacemaker, cardiac defibrillator, implanted material with electric or magnetic system, vascular clips or mechanical heart valve, cochlear implant or claustrophobia were excluded. In addition, patients with a history of stroke, psychiatric diseases, drug abuse, severe hypertension, systematic diseases and intellectual disability were excluded.


Predictions:

                     count         diagnosis group_name       subgroup_name  \
model
gpt-4o          324   14.0                AD   patients                  AD
                325    8.0               MCI   patients                 MCI
                326   14.0               NaN    healthy    healthy controls
gpt4-turbo      347   36.0               NaN    healthy  total participants
                348   14.0                AD   patients         AD patients
                349    8.0               MCI   patients        MCI patients
                350   14.0               NaN    healthy    healthy controls
firefunction-v1 380   36.0  AD, MCI, healthy   patients                  AD
                381   36.0  AD, MCI, healthy   patients                 MCI
                382   36.0               NaN    healthy             healthy

                     male_count  female_count  age_mean  age_minimum  \
model
gpt-4o          324         NaN           NaN       NaN          NaN
                325         NaN           NaN       NaN          NaN
                326         NaN           NaN       NaN          NaN
gpt4-turbo      347         NaN           NaN       NaN          NaN
                348         NaN           NaN       NaN          NaN
                349         NaN           NaN       NaN          NaN
                350         NaN           NaN       NaN          NaN
firefunction-v1 380        14.0          22.0      70.5         60.0
                381         8.0          12.0      72.5         65.0
                382        14.0          22.0      68.5         60.0

                     age_maximum  age_median imaging_sample
model
gpt-4o          324          NaN         NaN            yes
                325          NaN         NaN            yes
                326          NaN         NaN            yes
gpt4-turbo      347          NaN         NaN            yes
                348          NaN         NaN            yes
                349          NaN         NaN            yes
                350          NaN         NaN            yes
firefunction-v1 380         80.0        70.0            yes
                381         85.0        72.0            yes
                382         80.0        68.0            yes

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
32,8,mild cognitive impairment,patients,MCI,NaN,NaN,NaN,NaN,NaN,NaN
33,14,Alzheimer disease,patients,AD,NaN,NaN,NaN,NaN,NaN,NaN
34,14,NaN,healthy,_,NaN,NaN,NaN,NaN,NaN,NaN

GPT-4 handled this better than FireFunction, by identifying subgroups (total participants), and subgroups.

In [35]:
_print_context(7004957, annotations, combined, embeddings)

PMC ID:  7004957
Context:

## Procedure and Methods

### Open fMRI Dataset and Preprocessing

The dataset used in the current study, from the open-fMRI repository , consists of 28 healthy younger adults (YA: M  = 24.39 years, age range = 18–34; nine females) and 24 healthy older adults (OA: M  = 66.95 years, age range = 55–75; nine females). There were no significant differences between groups in terms of intellectual ability, as measured by either education or the Wechsler Test of Adult Reading (Wechsler,  ):   M  : YA = 16.85 vs. OA = 16.38 years;   M  : YA = 43.96/50 vs. OA = 39.75/50.

We used high-resolution structural images for our analyses (MPRAGE; TR = 1,950 ms; TE = 2.26 ms; FA = 7°; 1-mm isotropic voxel; FOV = 256 mm) and five identical task runs of the dataset (142 volumes for each EPI; 41 interleaved 4-mm slices with no gap; TR = 2,000 ms; TE = 25 ms; FA = 90°; matrix size = 64 × 64; FOV = 256), in which participants were exposed to different levels of auditory and visual stimuli in terms of emotional arousal and saliency (Lee et al.,  ). The images were acquired on a Siemens 3T Magnetom Trio with a 32-channel matrix. Preprocessing was performed using the FMRIB software library (FSL ) including skull stripping and tissue mask segmentation (CSF/WM/GM) of structural images after bias-field correction; first three volumes cut, motion correction, smoothing using a Gaussian kernel of FWHM 6 mm slice-timing correction, grand-mean intensity normalization of the entire 4D data set, ICA denoising using ICA-AROMA , and 0.001–0.08 Hz linear-trends filtering and regressing out CSF/WM signal. To examine intrinsic functional connectivity unrelated to task-induced activity, all task-related activities were also regressed out (Fair et al.,  ; Elliott et al.,  ). For details of the task-activity related connectivity analysis and the task itself, please see the previous work (Lee et al.,  ). Finally, the preprocessed resting-state-like fMRI data were transformed to standard MNI 2-mm brain through the non-linear transformation matrix of structure-to-standard-brain using the Advanced Normalization Tool library (ANTs ).

Through the preprocessing, we identified that one of the OA participant’s data was contaminated by severe motion across runs (mean framewise displacement, FD, and DVAR were 0.57 mm and 63.36, respectively). Because the severe motion can significantly reduce the estimation reliability of the functional connectivity (Power et al.,  ), we excluded this participant’s data from further analysis (final data   N   = 51; mean FD and DVAR were 0.054 mm and 12.45, respectively).


Predictions:

                count diagnosis group_name   subgroup_name  male_count  \
model
gpt-4o     382   28.0       NaN    healthy  younger adults        19.0
           383   23.0       NaN    healthy    older adults        14.0
gpt4-turbo 411   28.0       NaN    healthy  younger adults        19.0
           412   23.0       NaN    healthy    older adults        15.0

                female_count  age_mean  age_minimum  age_maximum  age_median  \
model
gpt-4o     382           9.0     24.39         18.0         34.0         NaN
           383           9.0     66.95         55.0         75.0         NaN
gpt4-turbo 411           9.0     24.39         18.0         34.0         NaN
           412           9.0     66.95         55.0         75.0         NaN

               imaging_sample
model
gpt-4o     382            yes
           383            yes
gpt4-turbo 411            yes
           412            yes

Context:

## Ethics Statement

The dataset and code used in this study is from a public data repository. The original data collection procedure involving human participants was reviewed and approved by IRB at the University of Southern California.


Predictions:

                     count   diagnosis group_name subgroup_name  male_count  \
model
firefunction-v1 460  100.0         NaN    healthy     subgroup1        50.0
                461   50.0  depression   patients     subgroup2        25.0
                462   75.0     anxiety   patients     subgroup3        37.0

                     female_count  age_mean  age_minimum  age_maximum  \
model
firefunction-v1 460          50.0      25.5         20.0         30.0
                461          25.0      30.5         25.0         35.0
                462          38.0      28.5         22.0         32.0

                     age_median imaging_sample
model
firefunction-v1 460        25.0            yes
                461        30.0             no
                462        28.0            yes

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
294,28,NaN,healthy,young,19.0,9.0,24.39,18.0,34.0,NaN
295,23,NaN,healthy,old,NaN,NaN,NaN,NaN,NaN,NaN

FF hallucinated results from the wrong context

In [36]:
_print_context(5598991, annotations, combined, embeddings)

PMC ID:  5598991
Context:

### 1.2 Participants

All patients were recruited from the outpatient clinic or inpatient wards of the Psychiatry Department of the First Affiliated Hospital of Kunming Medical University. Right-handed, 147 MDD patients (50 males and 97 females) met the criteria were recruited in the depression group. The inclusion criteria were as follows: ① The diagnosis of MDD was independently made by two experienced psychiatrists in accordance with the Diagnostic and Statistical Manual of Mental Disorders, fourth edition (DSM-IV, American Psychiatry Association, 1994), ② first episode without a history of antidepressants treatment, ③ be aged between 18–45 years, ④ the total score of 17-item Hamilton Depression Rating Scale (HDRS) was not less than 17, ⑤ right handedness, ⑥ the patients or their legal guardian signed the informed consent form. The exclusion criteria included the following items: ① having a history of Axis I psychiatric disorders. ② having a history of neurological illnesses or other severe diseases, ③ having a history of brain injury or obvious psychiatric symptoms, ④ with substance abuse, ⑤ having received electroconvulsive therapy (ECT), transcranial magnetic stimulation(TMS) or systematical psychotherapy, ⑥ pregnant or nursing women and ⑦ having physical limitations prohibiting them undergoing MRI scans.

130 sex-, and age-, matched healthy controls (49 males and 81 females) were also recruited in the healthy control group and excluded: ① with a family history of psychiatry, ② with a psychiatry disorder, ③ with a severe physical disease and/or neurological disease, ④ with substance abuse, ⑤ with a history of brain injury, ⑥ pregnant or nursing women, or ⑦ inability to undergo a MRI scan.

All participants underwent the MRI scans. All of the participants were recruited from February 2012 to July 2015. Each MDD patient and HC was assigned a number at the time of recruitment. Their data including demographic information, clinical and imaging data can be indentified through the number but not their name. The checklist is available as supporting information (see  )


Predictions:

                     count diagnosis group_name subgroup_name  male_count  \
model
gpt-4o          159  147.0       MDD   patients    depression        50.0
                160  130.0       NaN    healthy       control        49.0
gpt4-turbo      190  147.0       MDD   patients    depression        50.0
                191  130.0       NaN    healthy       control        49.0
firefunction-v1 177  147.0       MDD   patients    depression        50.0
                178  130.0       NaN    healthy       control        49.0

                     female_count  age_mean  age_minimum  age_maximum  \
model
gpt-4o          159          97.0       NaN         18.0         45.0
                160          81.0       NaN          NaN          NaN
gpt4-turbo      190          97.0       NaN         18.0         45.0
                191          81.0       NaN          NaN          NaN
firefunction-v1 177          97.0      30.5         18.0         45.0
                178          81.0      31.5         18.0         45.0

                     age_median imaging_sample
model
gpt-4o          159         NaN            yes
                160         NaN            yes
gpt4-turbo      190         NaN            yes
                191         NaN            yes
firefunction-v1 177        30.0            yes
                178        31.0            yes

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
195,52,NaN,healthy,old hc,NaN,NaN,NaN,NaN,NaN,NaN
196,60,NaN,healthy,young hc,NaN,NaN,NaN,NaN,NaN,NaN
197,58,early adult onset depression,patients,eod,NaN,NaN,NaN,NaN,NaN,NaN
198,62,later adult onset depression,patients,lod,NaN,NaN,NaN,NaN,NaN,NaN

Both models did fine, just didn't break groups into finer subsections

In [37]:
_print_context(3701149, annotations, combined, embeddings)

PMC ID:  3701149
Context:

## Materials and methods

### Participants

Eighty adolescents aged from 12 to 20 years participated in the study. Exclusion criteria included age, the presence of any neurological problem or a diagnosis of schizophrenia or schizoaffective disorder according to DSM-IV-TR criteria. Thirty-two subjects were excluded for head movement exceeding 4.7 mm in any of the 6 directions during the scan sessions (Control group:   N   = 9, AH group:   N   = 6, 22q11.2DS group:   N   = 17). In the Control group, we excluded subjects with maladaptive functioning above the clinical cut-off of the Internalizing and Externalizing scales (  t  -score >64) in the Youth Self-Report and Adult Behavior Checklist (Achenbach,  ,  ) (  N   = 1). After excluding these 33 subjects, the 47 remaining youths were distributed in the following three groups: typically developing adolescents (Control group:   N   = 22), adolescents with transient AHs (AH group:   N   = 12) and adolescents with a 22q11.2 Deletion Syndrome (22q11.2DS group:   N   = 13).

Out of the 22 subjects in the Control group (mean age: 16.00,   SD   = 2.04, 16 males), 6 were recruited within the siblings of 22q11.2DS participants and 16 from the Geneva state school system.

In the AH group, 12 subjects with subclinical AHs (mean age: 15.97,   SD   = 2.12, 5 males) were recruited through patient associations, by word of mouth or through the Child and Adolescents Outpatient Public Service (Office Médico-Pédagogique). Subjects were selected on the basis of a positive answer (yes or no) on the Cardiff Anomalous Perceptions Scale (CAPS) items describing AH items [i.e., items 3, 7, 11, 13, 28, or 32; (Bell et al.,  ; Debbané et al.,  ); see Table  ]. If they answered positively to an item, they were asked to rate their distress, the intrusiveness and the frequency of the experience by circling a number between 1 (not at all) and 5 (very).

 CAPS selected items for auditory hallucinations (Bell et al.,  ; Debbané et al.,  )  .

In the 22q11.2DS group, all adolescents (mean age: 16.14,   SD   = 2.55, 9 males) were recruited through parent associations in France, Belgium and Switzerland. The 22q11.2 deletion was confirmed using DNA polymorphism analysis based on short sequence repeats or by fluorescence in situ hybridization performed on metaphase spreads spanning the deleted region.

Written informed consent was accepted by all parents and/or subjects under protocols approved by the Institutional Review Board of the Geneva University School of Medicine. The three groups (Control, AH and 22q11.2DS) did not significantly differ according to age and gender (  p   > 0.05). At the time of testing, no participants were receiving psychotropic medication (data for this was missing for one subjects in the 22q11.2DS group). All participants underwent the Block Design subtest (Kohs,  ) in order to assess intellectual scores.


Predictions:

                     count                  diagnosis group_name  \
model
gpt-4o          335   22.0                        NaN    healthy
                336   12.0              transient AHs   patients
                337   13.0  22q11.2 Deletion Syndrome   patients
gpt4-turbo      343   22.0                        NaN    healthy
                344   12.0            subclinical AHs   patients
                345   13.0  22q11.2 Deletion Syndrome   patients
firefunction-v1 394   80.0                        NaN    healthy
                395   47.0                        NaN    healthy
                396   22.0                        NaN    healthy
                397   12.0                        NaN    healthy
                398   13.0                        NaN    healthy

                       subgroup_name  male_count  female_count  age_mean  \
model
gpt-4o          335          Control        16.0           6.0     16.00
                336               AH         5.0           7.0     15.97
                337        22q11.2DS         9.0           4.0     16.14
gpt4-turbo      343    Control group        16.0           6.0     16.00
                344         AH group         5.0           7.0     15.97
                345  22q11.2DS group         9.0           4.0     16.14
firefunction-v1 394              all        32.0          48.0     16.00
                395            final        16.0          31.0     16.00
                396          control        16.0           6.0     16.00
                397               ah         5.0           7.0     16.00
                398        22q11.2ds         9.0           4.0     16.10

                     age_minimum  age_maximum  age_median imaging_sample
model
gpt-4o          335         14.0         18.0         NaN            yes
                336         13.0         18.0         NaN            yes
                337         13.0         19.0         NaN            yes
gpt4-turbo      343          NaN          NaN         NaN            yes
                344          NaN          NaN         NaN            yes
                345          NaN          NaN         NaN            yes
firefunction-v1 394         12.0         20.0        16.0             no
                395         12.0         20.0        16.0             no
                396         12.0         20.0        16.0             no
                397         12.0         20.0        16.0             no
                398         12.0         20.0        16.0             no

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
55,12,auditory hallucination,patients,ah,5.0,7.0,15.97,NaN,NaN,NaN
56,22,NaN,healthy,_,16.0,6.0,16.00,NaN,NaN,NaN
57,13,22q11.2 Deletion Syndrome,patients,22q11.2DS,9.0,4.0,16.14,NaN,NaN,NaN

FF hallucinated several groups, and did not annotate diagnosis using the correct column

In [38]:
_print_context(3913832, annotations, combined, embeddings)

PMC ID:  3913832
Context:

## Methods

### Participants

A total of sixty-six female participants took part in this study. Thirty-one individuals with a current diagnosis of AN according to DSM-IV criteria were recruited from the hospital and community services of the South London and Maudsley (SLaM) National Health Service Trust and from an online advertisement on the b-eat website (Beating Eating Disorders — ), the UK's largest eating disorder charity (inpatients = 9, outpatients = 8, daycare patients = 7, community = 7). Twenty-five (81%) were diagnosed as restrictive (AN-R) and six (19%) as binge-purging (AN-BP). Fourteen (45%) reported taking antidepressant (SSRI = 12, SNRI = 1) or anti-anxiety medication. Thirty-five age-matched healthy individuals with no personal or family history of eating disorders were recruited from the community, staff and students of the Institute of Psychiatry, King's College London. Two healthy participants were excluded from further analysis due to currently taking antidepressant medication and two were excluded for optimal matching of the two groups in terms of age and IQ. Body mass index  , medication, age of onset and duration of illness were obtained on the day of testing. The screening module of the research version of the Structured Clinical Interview for DSM disorders (SCID-I/P) ( ) was used as a screening tool for the healthy controls (HC). The National Adult Reading Test (NART) was used to estimate IQ ( ). Participants consent was obtained according to the Declaration of Helsinki (BMJ 1991; 302: 1194) and was approved by the National Research Ethics Committee London Bentham (11-LO-0952).


Predictions:

                     count                       diagnosis group_name  \
model
gpt-4o          146   31.0                anorexia nervosa   patients
                147   31.0    anorexia nervosa restrictive   patients
                148    6.0  anorexia nervosa binge-purging   patients
                149   31.0                             NaN    healthy
gpt4-turbo      140   31.0           AN (Anorexia Nervosa)   patients
                141   33.0                             NaN    healthy
firefunction-v1 153   66.0                              AN   patients

                        subgroup_name  male_count  female_count  age_mean  \
model
gpt-4o          146                AN         0.0          31.0       NaN
                147              AN-R         0.0          25.0       NaN
                148             AN-BP         0.0           6.0       NaN
                149                HC         0.0          31.0       NaN
gpt4-turbo      140       AN patients         0.0          31.0       NaN
                141  Healthy controls         0.0          33.0       NaN
firefunction-v1 153            female         0.0          66.0       NaN

                     age_minimum  age_maximum  age_median imaging_sample
model
gpt-4o          146          NaN          NaN         NaN             no
                147          NaN          NaN         NaN             no
                148          NaN          NaN         NaN             no
                149          NaN          NaN         NaN             no
gpt4-turbo      140          NaN          NaN         NaN             no
                141          NaN          NaN         NaN             no
firefunction-v1 153          NaN          NaN         NaN             no

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
79,31,NaN,healthy,_,NaN,31.0,NaN,NaN,NaN,NaN
80,31,anorexia nervosa,patients,_,NaN,31.0,NaN,NaN,NaN,NaN

FF combined healthy and diseased groups

# Few Shot 2

In [43]:

ff2 = pd.read_csv('outputs/eval_demographics-fewshot2_firefunction-v1_minc-40_maxc-4000_clean.csv')
gpt4o2 = pd.read_csv('outputs/eval_demographics-fewshot2_gpt-4o-2024-05-13_minc-40_maxc-4000_clean.csv')

In [44]:
ff2_mean = ff2.groupby('pmcid').apply(lambda x: x['count'].mean())
annot_mean = annotations.groupby('pmcid').apply(lambda x: x['count'].mean())
worst = ((ff2_mean-annot_mean) / annot_mean).abs().sort_values(ascending=False).head(10)

combined2 = pd.concat([gpt_4_o, gpt4o2, ff, ff2], keys=['gpt-4o', 'gpt-4o_fs2', 'ff', 'ff_fs2'], names=['model'])

In [59]:
for i in worst.index:
    _print_context(i, annotations, combined2, embeddings)

PMC ID:  5832413
Context:

## Materials and methods

### Participants

#### Behavior-based visual similarity rating task and conceptual feature generation task

A total of 2846 individuals completed online behavioral tasks using Amazon’s Mechanical Turk ( ). Data from 61 participants were discarded due to technical errors, incomplete submissions, or missed catch trials. Of the remaining 2785 participants, 1185 completed the visual similarity rating task (616 males, 569 females; age range = 18–53; mean age = 30.1), and 1600 completed the semantic feature generation task (852 males, 748 females; age range = 18–58 years; mean age = 31.7). These sample sizes are proportionally in line with those reported by  . Individuals who completed the visual similarity rating task were excluded from completing the feature generation task, and vice versa. All participants provided informed consent and were compensated for their time. Both online tasks were approved by the University of Toronto Ethics Review Board.


#### Brain-based fMRI task

A separate group consisting of sixteen right-handed participants took part in the fMRI experiment (10 female; age range = 19–29 years; mean age = 23.1 years). This sample size is in line with extant fMRI studies that have used comparable analytical procedures to test hypotheses pertaining to object representation in the ventral visual stream and ATL ( ;  ;  ;  ;  ;  ; ;  ;  ). Due to technical problems, we were unable to obtain data from one experimental run in two different participants. No participants were removed due to excessive motion using a criterion of 1.5 mm of translational displacement. All participants gave informed consent, reported that they were native English speakers, free of neurological and psychiatric disorders, and had normal or corrected to normal vision. Participants were compensated $50. This study was approved by the Baycrest Hospital Research Ethics Board.



Predictions:

                 count diagnosis group_name                     subgroup_name  \
model
gpt-4o     201  1185.0       NaN    healthy     visual similarity rating task
           202  1600.0       NaN    healthy  semantic feature generation task
           203    16.0       NaN    healthy                         fMRI task
gpt-4o_fs2 196  1185.0       NaN    healthy     visual similarity rating task
           197  1600.0       NaN    healthy  semantic feature generation task
           198    16.0       NaN    healthy                               NaN
ff         226  2785.0       NaN    healthy                        behavioral
           227    16.0       NaN    healthy                              fMRI
           228    16.0       NaN    healthy                              fMRI
ff_fs2     185  2785.0   healthy    healthy                        behavioral
           186    16.0   healthy    healthy                           imaging

                male_count  female_count  age_mean  age_minimum  age_maximum  \
model
gpt-4o     201       616.0         569.0      30.1         18.0         53.0
           202       852.0         748.0      31.7         18.0         58.0
           203         6.0          10.0      23.1         19.0         29.0
gpt-4o_fs2 196       616.0         569.0      30.1         18.0         53.0
           197       852.0         748.0      31.7         18.0         58.0
           198         6.0          10.0      23.1         19.0         29.0
ff         226       616.0         569.0      30.1         18.0         53.0
           227        10.0           6.0      23.1         19.0         29.0
           228        10.0           6.0      23.1         19.0         29.0
ff_fs2     185       616.0         569.0      30.1         18.0         53.0
           186        10.0           6.0      23.1         19.0         29.0

                age_median imaging_sample assesment_type
model
gpt-4o     201         NaN             no            NaN
           202         NaN             no            NaN
           203         NaN            yes            NaN
gpt-4o_fs2 196         NaN            NaN     behavioral
           197         NaN            NaN     behavioral
           198         NaN            NaN        imaging
ff         226        30.0             no            NaN
           227        23.0            yes            NaN
           228        23.0            yes            NaN
ff_fs2     185        30.0            NaN     behavioral
           186        23.0            NaN        imaging

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
214,16,NaN,healthy,_,6.0,10.0,23.1,19.0,29.0,NaN

PMC ID:  3423412
Context:

## Materials and Methods

### Subjects

Thirty-six right-handed subjects participated in this study after giving written informed consent, including 14 patients with AD, 8 patients with MCI and 14 healthy controls. This study was approved by the Medical Research Ethics Committee of Xuanwu Hospital. The AD and MCI subjects were recruited from patients who had consulted the memory clinic at Xuanwu Hospital for memory complaints. The healthy elderly controls were recruited from the local community.

All AD patients underwent a complete physical and neurological examination, standard laboratory tests and an extensive battery of neuropsychological assessments. The diagnosis of AD fulfilled the Diagnostic and Statistical Manual of Mental Disorders 4th Edition criteria for dementia (American Psychiatric Association, 1994), and the National Institute of Neurological and Communicative Disorders and Stroke/Alzheimer Disease and Related Disorders Association (NINCDS-ADRDA) criteria for possible or probable AD (McKhann et al., 1984). The subjects were assessed with the Clinical Dementia Rating (CDR) score  , CDR of 1 and 2 was assigned to the AD category.

Participants with MCI had memory impairment but did not meet the criteria for dementia. The criteria for identification and classification of subjects with MCI   was: a) impaired memory performance on a normalized objective verbal memory test; b) recent history of symptomatic worsening in memory; c) normal or near-normal performance on global cognitive tests (MMSE score>24), as well as on an activities of daily living scale; (d) global rating of 0.5 on the CDR Scale, with a score of at least 0.5 on the memory domain; e) absence of dementia.

Healthy controls met the following criteria: a) no neurological or psychiatric disorders such as stroke, depression and epilepsy; b) no neurological deficiencies such as visual or hearing loss; c) no abnormal findings such as infarction or focal lesion in conventional brain MR imaging; d) no cognitive complaints; e) MMSE score of 28 or higher; f) CDR score of 0.

Participants with contraindications for MRI such as pacemaker, cardiac defibrillator, implanted material with electric or magnetic system, vascular clips or mechanical heart valve, cochlear implant or claustrophobia were excluded. In addition, patients with a history of stroke, psychiatric diseases, drug abuse, severe hypertension, systematic diseases and intellectual disability were excluded.


Predictions:

                count         diagnosis group_name     subgroup_name  \
model
gpt-4o     324   14.0                AD   patients                AD
           325    8.0               MCI   patients               MCI
           326   14.0               NaN    healthy  healthy controls
gpt-4o_fs2 318   14.0                AD   patients               NaN
           319    8.0               MCI   patients               NaN
           320   14.0               NaN    healthy               NaN
ff         380   36.0  AD, MCI, healthy   patients                AD
           381   36.0  AD, MCI, healthy   patients               MCI
           382   36.0               NaN    healthy           healthy
ff_fs2     300   36.0  AD, MCI, healthy   patients                AD
           301   36.0  AD, MCI, healthy   patients               MCI
           302   36.0  AD, MCI, healthy   patients           healthy

                male_count  female_count  age_mean  age_minimum  age_maximum  \
model
gpt-4o     324         NaN           NaN       NaN          NaN          NaN
           325         NaN           NaN       NaN          NaN          NaN
           326         NaN           NaN       NaN          NaN          NaN
gpt-4o_fs2 318         NaN           NaN       NaN          NaN          NaN
           319         NaN           NaN       NaN          NaN          NaN
           320         NaN           NaN       NaN          NaN          NaN
ff         380        14.0          22.0      70.5         60.0         80.0
           381         8.0          12.0      72.5         65.0         85.0
           382        14.0          22.0      68.5         60.0         80.0
ff_fs2     300        14.0           0.0      70.5         60.0         80.0
           301         8.0           0.0      70.5         60.0         80.0
           302        14.0           0.0      70.5         60.0         80.0

                age_median imaging_sample assesment_type
model
gpt-4o     324         NaN            yes            NaN
           325         NaN            yes            NaN
           326         NaN            yes            NaN
gpt-4o_fs2 318         NaN            NaN     behavioral
           319         NaN            NaN     behavioral
           320         NaN            NaN     behavioral
ff         380        70.0            yes            NaN
           381        72.0            yes            NaN
           382        68.0            yes            NaN
ff_fs2     300        70.0            NaN        imaging
           301        70.0            NaN        imaging
           302        70.0            NaN        imaging

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
32,8,mild cognitive impairment,patients,MCI,NaN,NaN,NaN,NaN,NaN,NaN
33,14,Alzheimer disease,patients,AD,NaN,NaN,NaN,NaN,NaN,NaN
34,14,NaN,healthy,_,NaN,NaN,NaN,NaN,NaN,NaN

PMC ID:  6024199
Context:

## Materials & methods

### Participants

Fifty-seven participants (35 women, mean age = 21.9 years, range = 18–37 years) completed the scan session. Participants gave written informed consent for a protocol approved by the Duke University Institutional Review Board and the Duke University Medical Center Institutional Review Board. All participants had an A1 trauma in which they were exposed to death, threatened death, actual or threatened serious injury, or actual or threatened sexual violence ( ). After excluding participants who did not meet inclusion criteria (see Supplemental materials) there were 21 participants in the PTSD group (15 women, mean age = 21.5 years, range = 18–31 years) and 21 in the trauma-exposed control group (14 women, mean age = 22.1 years, range = 18–37 years). Additional demographic and clinical data are shown in   and described in the Supplemental materials.
Participant characteristics.
  Table 1


Predictions:

                count diagnosis group_name           subgroup_name  \
model
gpt-4o     162   21.0      PTSD   patients                    PTSD
           163   21.0       NaN    healthy  trauma-exposed control
gpt-4o_fs2 158   21.0      PTSD   patients                     NaN
           159   21.0       NaN    healthy  trauma-exposed control
ff         182   57.0       NaN    healthy            scan session
           183   21.0      PTSD   patients            scan session
           184   21.0       NaN    healthy            scan session
ff_fs2     148   57.0      PTSD   patients                    PTSD

                male_count  female_count  age_mean  age_minimum  age_maximum  \
model
gpt-4o     162         6.0          15.0      21.5         18.0         31.0
           163         7.0          14.0      22.1         18.0         37.0
gpt-4o_fs2 158         6.0          15.0      21.5         18.0         31.0
           159         7.0          14.0      22.1         18.0         37.0
ff         182        22.0          35.0      21.9         18.0         37.0
           183         6.0          15.0      21.5         18.0         31.0
           184         8.0          13.0      22.1         18.0         37.0
ff_fs2     148        22.0          35.0      21.9         18.0         37.0

                age_median imaging_sample assesment_type
model
gpt-4o     162         NaN            yes            NaN
           163         NaN            yes            NaN
gpt-4o_fs2 158         NaN            NaN        imaging
           159         NaN            NaN        imaging
ff         182        22.0            yes            NaN
           183        21.0            yes            NaN
           184        22.0            yes            NaN
ff_fs2     148        21.0            NaN        imaging

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
227,21,posttraumatic stress disorder,patients,_,6.0,15.0,21.5,18.0,31.0,NaN
228,21,NaN,healthy,_,7.0,14.0,22.1,18.0,37.0,NaN

PMC ID:  7260173
Context:

## Methods

### Participants

A total of 70 healthy adults (age range 21–50 years, 41 males) participated in a 5-day and 4-night in-laboratory controlled sleep deprivation experiment , including 54 adults in the experimental group with one night of TSD (Fig.  ) and 16 adults in the control group without sleep loss (Fig.  ). Fifteen participants in the TSD group and one participant in the control group were excluded due to head motion, MR hardware problem, falling asleep during the scans, and/or missing behavioral data. Thus, fifty-four participants (age range 21–50 yrs, 28 males) were included in the present study, including 39 in the TSD group (mean age = 33.5 ± 8.8 yrs, 22 males) and 15 in the control group (mean age = 34.5 ± 9.0 yrs, 7 males). The sleep-wake schedule of each participant was assessed by at least one week actigraphy, sleep-wake diaries, sleep and circadian rhythm questionnaires, and a night of laboratory polysomnography and oximetry measurements during the weeks preceding the study. All participants had a regular sleep-wake schedule of nocturnal sleep duration between 6.5 and 8.5 hours, regular bedtime between 2200–0000 h and wake time of 0600–0900 h, and no evidence of habitual napping or sleep disorders. Participants could not have participated in trans-meridian travel or shift work, nor had irregular sleep-wake routines for 60 days prior to the in-lab study. Caffeine, alcohol, tobacco, medications (except 4 subjects took oral contraceptives and one subject took Mirena for birth control) or other psychoactive substances were prohibited from the week prior to and during the in-laboratory study. All participants were right-handed, not current smokers, and had no history of chronic physical or mental illness, as established by interviews, questionnaires, physical examinations, and blood and urine tests. This study was approved by the Institutional Review Board of the University of Pennsylvania and was carried out in accordance with the Declaration of Helsinki. All participants provided written informed consent before enrollment and were compensated for participating in the study.


Predictions:

                count diagnosis group_name subgroup_name  male_count  \
model
gpt-4o     141   39.0       NaN    healthy           TSD        22.0
           142   15.0       NaN    healthy       control         7.0
gpt-4o_fs2 139   39.0       NaN    healthy           TSD        22.0
           140   15.0       NaN    healthy       control         7.0
ff         157   70.0       NaN    healthy           all        41.0
           158   54.0       NaN    healthy           TSD        22.0
           159   15.0       NaN    healthy       control         7.0
ff_fs2     132   70.0   healthy    healthy           all        41.0

                female_count  age_mean  age_minimum  age_maximum  age_median  \
model
gpt-4o     141          17.0     33.50         21.0         50.0         NaN
           142           8.0     34.50         21.0         50.0         NaN
gpt-4o_fs2 139          17.0     33.50         21.0         50.0         NaN
           140           8.0     34.50         21.0         50.0         NaN
ff         157          29.0     33.50         21.0         50.0        33.0
           158          12.0     33.58         21.0         50.0        33.0
           159           8.0     34.50         21.0         50.0        34.0
ff_fs2     132          29.0     33.58         21.0         50.0        34.0

               imaging_sample assesment_type
model
gpt-4o     141            yes            NaN
           142            yes            NaN
gpt-4o_fs2 139            NaN     behavioral
           140            NaN     behavioral
ff         157             no            NaN
           158            yes            NaN
           159            yes            NaN
ff_fs2     132            NaN          other

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
309,39,NaN,healthy,tsd,22.0,17.0,33.5,NaN,NaN,NaN
310,15,NaN,healthy,control,7.0,8.0,34.5,NaN,NaN,NaN

PMC ID:  5598991
Context:

### 1.2 Participants

All patients were recruited from the outpatient clinic or inpatient wards of the Psychiatry Department of the First Affiliated Hospital of Kunming Medical University. Right-handed, 147 MDD patients (50 males and 97 females) met the criteria were recruited in the depression group. The inclusion criteria were as follows: ① The diagnosis of MDD was independently made by two experienced psychiatrists in accordance with the Diagnostic and Statistical Manual of Mental Disorders, fourth edition (DSM-IV, American Psychiatry Association, 1994), ② first episode without a history of antidepressants treatment, ③ be aged between 18–45 years, ④ the total score of 17-item Hamilton Depression Rating Scale (HDRS) was not less than 17, ⑤ right handedness, ⑥ the patients or their legal guardian signed the informed consent form. The exclusion criteria included the following items: ① having a history of Axis I psychiatric disorders. ② having a history of neurological illnesses or other severe diseases, ③ having a history of brain injury or obvious psychiatric symptoms, ④ with substance abuse, ⑤ having received electroconvulsive therapy (ECT), transcranial magnetic stimulation(TMS) or systematical psychotherapy, ⑥ pregnant or nursing women and ⑦ having physical limitations prohibiting them undergoing MRI scans.

130 sex-, and age-, matched healthy controls (49 males and 81 females) were also recruited in the healthy control group and excluded: ① with a family history of psychiatry, ② with a psychiatry disorder, ③ with a severe physical disease and/or neurological disease, ④ with substance abuse, ⑤ with a history of brain injury, ⑥ pregnant or nursing women, or ⑦ inability to undergo a MRI scan.

All participants underwent the MRI scans. All of the participants were recruited from February 2012 to July 2015. Each MDD patient and HC was assigned a number at the time of recruitment. Their data including demographic information, clinical and imaging data can be indentified through the number but not their name. The checklist is available as supporting information (see  )


Predictions:

                count diagnosis group_name subgroup_name  male_count  \
model
gpt-4o     159  147.0       MDD   patients    depression        50.0
           160  130.0       NaN    healthy       control        49.0
gpt-4o_fs2 155  147.0       MDD   patients           NaN        50.0
           156  130.0       NaN    healthy           NaN        49.0
ff         177  147.0       MDD   patients    depression        50.0
           178  130.0       NaN    healthy       control        49.0
ff_fs2     145  147.0       MDD   patients    depression        50.0
           146  130.0   healthy    healthy       control        49.0

                female_count  age_mean  age_minimum  age_maximum  age_median  \
model
gpt-4o     159          97.0       NaN         18.0         45.0         NaN
           160          81.0       NaN          NaN          NaN         NaN
gpt-4o_fs2 155          97.0       NaN         18.0         45.0         NaN
           156          81.0       NaN          NaN          NaN         NaN
ff         177          97.0      30.5         18.0         45.0        30.0
           178          81.0      31.5         18.0         45.0        31.0
ff_fs2     145          97.0      26.1         18.0         45.0        26.0
           146          81.0      24.7         18.0         45.0        24.0

               imaging_sample assesment_type
model
gpt-4o     159            yes            NaN
           160            yes            NaN
gpt-4o_fs2 155            NaN        imaging
           156            NaN        imaging
ff         177            yes            NaN
           178            yes            NaN
ff_fs2     145            NaN        imaging
           146            NaN        imaging

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
195,52,NaN,healthy,old hc,NaN,NaN,NaN,NaN,NaN,NaN
196,60,NaN,healthy,young hc,NaN,NaN,NaN,NaN,NaN,NaN
197,58,early adult onset depression,patients,eod,NaN,NaN,NaN,NaN,NaN,NaN
198,62,later adult onset depression,patients,lod,NaN,NaN,NaN,NaN,NaN,NaN

PMC ID:  3660406
Context:

### Participants

A group of 38 participants, comprising younger and older adults, took part in the fMRI experiment. Three participants (one younger adult and two older adults) were excluded from statistical analyses after medical examination of their anatomical scans in which structural abnormalities were diagnosed that might have an influence on their functional images. In addition, one younger adult was excluded due to experience in professional modern dance for six years in adolescence. The final sample consisted of 19 younger (14 women, mean age = 22.6±2.27 years, range 18–27) and 15 older adults (10 women, mean age = 61.1±5.68 years, range 51–71),   t  (32) = 24.7,   p  <0.001. The majority of the participants already took part in the behavioral action prediction experiment reported in Diersch et al.  . One younger adult and four older adults were additionally recruited from the participant database of the MPI for Human Cognitive and Brain Sciences, Leipzig. Before scanning, these participants were invited for a separate testing session in which they completed the relevant questionnaires and performed the behavioral action prediction task to ensure that the whole sample was scanned under the same prerequisites. Time between the two experimental sessions was 5.35 months on average (range 3–8 months). Characteristics of the sample divided by age group are shown in  .
   Characteristics of the sample divided by age group.
All participants were right-handed according to the Edinburgh Handedness Inventory   and reported normal or corrected-to-normal vision. None of the participants reported current evidence of any major physical or neurological disease and/or use of medication that might affect blood flow. In addition, participants completed different psychometric tests to ensure that only healthy older adults would be included in the experiment. This allowed an examination of age-related changes in action prediction that are unlikely to be confounded by the effects of any age-associated pathology. None of the older adults showed indications of cognitive impairment as measured by the Mini-Mental State Examination (MMSE;  ; Maximum score: 30). The groups did not differ with respect to their reported years of education,   t  (32) = 0.68,   p   = 0.500. In addition, fluid intelligence (processing speed) was assessed by means of the Digit Symbol Substitution Test (DSST), a subscale of the Wechsler Adult Intelligence Scale (WAIS-III;  ). Older adults obtained lower DSST raw scores than younger adults,   t  (32) = 5.53,   p  <0.001, in line with other cognitive aging studies (e.g.,  ). The groups did not differ from each other, when compared with norms appropriate to the participants' age group,   t  (32) = 1.09,   p   = 0.286. Crystallized intelligence (verbal knowledge) was assessed by means of the Spot-the-Word Test (SWT;  ). In accordance with Park et al.  , no age-related differences were found, both   t  ≤0.46,   p  ≥0.648.

With respect to the action sequences used in the experiment, all participants confirmed that they were well able to perform the movement exercises. In addition, 10 of the 34 participants were highly experienced in figure skating (six younger adults and four older adults). The six younger figure skaters (5 women,   M =   21.2,   SD   = 2.23, range 18–24 years) spent on average 11.7 hours per week (  SD   = 7.06) on ice for 14.8 years (  SD   = 2.64). The four older figure skaters (3 women,   M   = 56.0,   SD   = 5.60, range 51–64 years) still performed the sport on a regular basis with 3.50 hours per week (  SD   = 1.29) on ice for 35.0 years (  SD   = 22.4). Two of them pursued a professional career for a period of 14.0 years (  SD   = 6.69) with 14.8 hours per week (  SD   = 7.41) on ice but ended it around the age of 22.7 years (  SD   = 11.0). Characteristics of the sample divided by expertise group can be found in  .


Predictions:

                count diagnosis group_name   subgroup_name  male_count  \
model
gpt-4o     152   19.0       NaN    healthy  younger adults         5.0
           153   15.0       NaN    healthy    older adults         5.0
gpt-4o_fs2 148   34.0       NaN    healthy  younger adults         5.0
           149   34.0       NaN    healthy    older adults         5.0
ff         171   38.0       NaN    healthy            fMRI        14.0
           172   19.0       NaN    healthy      behavioral        14.0
           173   15.0       NaN    healthy      behavioral        10.0
ff_fs2     136   38.0   healthy    healthy  younger adults         5.0
           137   38.0   healthy    healthy    older adults         5.0

                female_count  age_mean  age_minimum  age_maximum  age_median  \
model
gpt-4o     152          14.0     22.60         18.0         27.0         NaN
           153          10.0     61.10         51.0         71.0         NaN
gpt-4o_fs2 148          14.0     22.62         18.0         27.0         NaN
           149          10.0     61.15         51.0         71.0         NaN
ff         171          24.0     22.62         18.0         27.0        22.0
           172           5.0     22.62         18.0         27.0        22.0
           173           5.0     61.15         51.0         71.0        61.0
ff_fs2     136          14.0     22.60         18.0         27.0        22.0
           137          10.0     61.20         51.0         71.0        61.0

               imaging_sample assesment_type
model
gpt-4o     152            yes            NaN
           153            yes            NaN
gpt-4o_fs2 148            NaN        imaging
           149            NaN        imaging
ff         171            yes            NaN
           172            yes            NaN
           173            yes            NaN
ff_fs2     136            NaN        imaging
           137            NaN        imaging

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
51,19,NaN,healthy,young,5.0,14.0,22.6,18.0,27.0,NaN
52,15,NaN,healthy,old,5.0,10.0,61.1,51.0,71.0,NaN

PMC ID:  7406917
Context:

## 2. Materials

### 2.1. Subjects

Seven healthy male right-handed subjects aged from 21 to 28 years (23.5 yo ± 2.5) were involved in this study. All subjects gave written informed consent before participating in the study. We have maintained the homogeneity of the population in order to limit the influence of factors, such as gender or age.


### 2.2. MR Acquisitions

The subjects were scanned on a 3.0T whole body Siemens MR scanner (Magnetom Verio, Siemens Healthcare, Erlangen, Germany) with a 32-channel head coil. A 3D anatomical T1-weighted MP2RAGE image was acquired for each subject. The resting-state ASL imaging was performed using a 2D EPI pseudo-continuous (pCASL) sequence. Subjects were asked to keep their eyes closed, to relax (mind-wandering), to lie still and to not fall asleep. We used common parameters reported in the literature: TR = 3,500 ms, FoV = 224 × 224 mm , TE = 12 ms, LD = 1,500 ms and a 1250 ms post-labeling delay (PLD) at the first slice (1712.5 ms at the median slice). Volumes were made of 24 slices of 64 × 64 voxels with 5 mm slice thickness with 20% gap for a total resolution of 3.5 × 3.5 × 6 mm . The number of volumes was 420 for a total duration of 24 min 30 s.


### 2.3. Data Pre-processing

For each subject, the raw pCASL series is divided into 46 sub-series. The duration of these sub-series ranges from nearly 2 min (34 volumes) to 24 min 30 s (420 volumes) with a time step of 30 s. For the sake of simplicity, we will only mention rounded durations hereafter. All these subdivisions are made   before   any preprocessing: the preprocessing is done independently on each sub-series. For the preprocessing steps and their parameters, we chose the most common ones found in bibliography. While identifying the best preprocessing is still an open topic in rs-ASL in particular and in rs-fMRI in general (Gargouri et al.,  ), a general routine can be discerned in the literature. For the preprocessing steps, we used Matlab CONN toolbox ( ,  ) (Whitfield-Gabrieli and Nieto-Castanon,  ). Preprocessing starts with the realignment of the functional data. All the functional volumes are rigidly registered to the first one using SPM12 realign procedure (Andersson et al.,  ). Second step is the indirect normalization of the functional volumes (Nieto-Castanon,  ). It starts with the affine registration of the functional data, with the mean volume of the realigned series as the source image, on the anatomical 3D T1 using SPM12 inter-modality co-registration procedure with a normalized mutual information cost function. Then the anatomical image is registered on the MNI 152 template using SPM12 unified segmentation and normalization procedure (Ashburner and Friston,  ). In parallel, perfusion-weighted maps are computed using a surround subtraction on the realigned functional data. Both transformations (functional to structural, structural to MNI) are composed to register subtracted functional data on the MNI template. We then used Gaussian smoothing with a typical 6 mm FWHM radius (Alakörkkö et al.,  ) and pass-band filtering with a range from 0.005 to 0.1 Hz. Final denoising was made with aCOMPCOR, using five regressors for white-matter, five for cerebro-spinal fluid, and the 12 from the realignment step (Behzadi et al.,  ). All these steps are shown in  .

Preprocessing starts with a realignment: all the functional volumes are registered with the first one. Second step is the indirect normalization of the functional volumes. The functional data is registered on the anatomical 3D T1 (a). Then the anatomical image is registered on the MNI 152 template (b). After a surround subtraction (c), transformations of (a) and (b) are composed to register functional data on the MNI template (d). We then used Gaussian smoothing with a typical 6 mm FWHM radius and pass-band filtering with a range from 0.005 to 0.1 Hz. Final denoising is made with COMPCOR.



Predictions:

,,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median,imaging_sample,assesment_type
model,,,,,,,,,,,,,
gpt-4o,343,7.0,NaN,healthy,NaN,7.0,0.0,23.5,21.0,28.0,NaN,yes,NaN
gpt-4o_fs2,336,7.0,NaN,healthy,right handed,7.0,0.0,23.5,21.0,28.0,NaN,NaN,imaging

Context:

## Ethics Statement

The studies involving human participants were reviewed and approved by Ethics Committee of the University Hospital of Rennes CHU Rennes Hôtel-Dieu, 2 rue de l'Hôtel-Dieu, CS 26419, 35064 Rennes Cedex, France. The patients/participants provided their written informed consent to participate in this study.


Predictions:

            count      diagnosis group_name  subgroup_name  male_count  \
model
ff     390   10.0            NaN    healthy      subgroup1         5.0
       391   15.0       patients   patients      subgroup2         7.0
ff_fs2 318   15.0  schizophrenia   patients  schizophrenia         5.0

            female_count  age_mean  age_minimum  age_maximum  age_median  \
model
ff     390           5.0      25.5         20.0         30.0        25.0
       391           8.0      30.5         25.0         35.0        30.0
ff_fs2 318          10.0      26.1         21.0         35.0        26.0

           imaging_sample assesment_type
model
ff     390            yes            NaN
       391            yes            NaN
ff_fs2 318            NaN        imaging

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
320,7,NaN,healthy,_,7.0,NaN,23.5,21.0,28.0,NaN

PMC ID:  3913832
Context:

## Methods

### Participants

A total of sixty-six female participants took part in this study. Thirty-one individuals with a current diagnosis of AN according to DSM-IV criteria were recruited from the hospital and community services of the South London and Maudsley (SLaM) National Health Service Trust and from an online advertisement on the b-eat website (Beating Eating Disorders — ), the UK's largest eating disorder charity (inpatients = 9, outpatients = 8, daycare patients = 7, community = 7). Twenty-five (81%) were diagnosed as restrictive (AN-R) and six (19%) as binge-purging (AN-BP). Fourteen (45%) reported taking antidepressant (SSRI = 12, SNRI = 1) or anti-anxiety medication. Thirty-five age-matched healthy individuals with no personal or family history of eating disorders were recruited from the community, staff and students of the Institute of Psychiatry, King's College London. Two healthy participants were excluded from further analysis due to currently taking antidepressant medication and two were excluded for optimal matching of the two groups in terms of age and IQ. Body mass index  , medication, age of onset and duration of illness were obtained on the day of testing. The screening module of the research version of the Structured Clinical Interview for DSM disorders (SCID-I/P) ( ) was used as a screening tool for the healthy controls (HC). The National Adult Reading Test (NART) was used to estimate IQ ( ). Participants consent was obtained according to the Declaration of Helsinki (BMJ 1991; 302: 1194) and was approved by the National Research Ethics Committee London Bentham (11-LO-0952).


Predictions:

                count                       diagnosis group_name  \
model
gpt-4o     146   31.0                anorexia nervosa   patients
           147   31.0    anorexia nervosa restrictive   patients
           148    6.0  anorexia nervosa binge-purging   patients
           149   31.0                             NaN    healthy
gpt-4o_fs2 144   31.0                anorexia nervosa   patients
           145   35.0                             NaN    healthy
ff         153   66.0                              AN   patients
ff_fs2     134   66.0                              AN   patients

               subgroup_name  male_count  female_count  age_mean  age_minimum  \
model
gpt-4o     146            AN         0.0          31.0       NaN          NaN
           147          AN-R         0.0          25.0       NaN          NaN
           148         AN-BP         0.0           6.0       NaN          NaN
           149            HC         0.0          31.0       NaN          NaN
gpt-4o_fs2 144          AN-R         0.0          31.0       NaN          NaN
           145           NaN         0.0          35.0       NaN          NaN
ff         153        female         0.0          66.0       NaN          NaN
ff_fs2     134        female         0.0          66.0       0.0          0.0

                age_maximum  age_median imaging_sample assesment_type
model
gpt-4o     146          NaN         NaN             no            NaN
           147          NaN         NaN             no            NaN
           148          NaN         NaN             no            NaN
           149          NaN         NaN             no            NaN
gpt-4o_fs2 144          NaN         NaN            NaN     behavioral
           145          NaN         NaN            NaN     behavioral
ff         153          NaN         NaN             no            NaN
ff_fs2     134          0.0         0.0            NaN          other

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
79,31,NaN,healthy,_,NaN,31.0,NaN,NaN,NaN,NaN
80,31,anorexia nervosa,patients,_,NaN,31.0,NaN,NaN,NaN,NaN

PMC ID:  5104469
Context:

## Materials and Methods

### Participants

Seventy (23 young people with a history of childhood abuse, 20 psychiatric controls, and 27 healthy controls) right-handed, medication-naïve, drug-free and age-matched young people came to the laboratory for two sessions, and those below the age of 18 were accompanied by their guardians on both visits. In the first visit, demographic, clinical and abuse measures and IQ data were collected and the participants were acclimated to the scanner environment with an MRI replica. The fMRI sustained attention task was administered in the MRI scanner on the second visit. All participants were assessed by a child psychiatrist (KM) using the Development and Well-Being Assessment (DAWBA) [ ] designed to generate ICD-10 and DSM-IV psychiatric diagnoses. The Strengths and Difficulties Questionnaires (SDQ) [ ] and Beck’s Depression Inventory (BDI) [ ] were used to provide psychopathology symptom scores. IQ was assessed using the Wechsler Abbreviated Scale of Intelligence (WASI) [ ]. The Childhood Trauma Questionnaire (CTQ) [ ] was used to measure the severity of childhood physical, emotional and sexual abuse as well as emotional and physical neglect. Socioeconomic status (SES) was measured by two non-sensitive items from the Family Affluence Scale (FAS) [ ] on housing tenure and room occupancy.

Exclusion criteria for all participants were childhood sexual abuse, drug abuse, learning disability, neurological abnormalities, epilepsy, IQ < 70 and MRI contraindications. Urine screening for recent drug use was conducted with 10-panel urine drug test integrated cups (T-Cup;  ). All participants or their guardians if the participant was under the age of 18, provided written informed consent to participate in the study. Young people below the age of 18 were accompanied by their guardians during each visit and their guardians received the reimbursement for participating in the study on their behalf. The study was approved by the National Research Ethics Service Committee London-Fulham.

The 23 young people who experienced childhood physical abuse before the age of 12 were recruited through social services and psychiatric clinics. These young people, or their guardians if they were below the age of 18, were first asked to provide signed permission to contact their respective social services for written confirmation that there were official records of physical abuse. Next, the young people went on to complete the clinical interviews, abuse measures and IQ test and finally followed by the brain scan. The Childhood Experience of Care and Abuse (CECA) interview [ ] was used to corroborate the CTQ and provide additional information on the abuse experience such as the age or onset and duration of abuse. All the participants with a history of childhood abuse scored ≥ 13 (i.e. the cut-off for severe/extreme physical abuse) [ ] on the CTQ physical abuse subscale, and information from the CECA interview [ ] and the CTQ were consistent with the official records. Psychiatric comorbidities included PTSD, depression, anxiety, conduct disorder and phobia. Two participants were excluded due to MRI motion artefacts, leaving a final sample of 21 participants (mean age 17.5, 15 male).

Predictions:

                count                                          diagnosis  \
model
gpt-4o     355   21.0  PTSD, depression, anxiety, conduct disorder an...
           356   20.0                                                NaN
           357   27.0                                                NaN
gpt-4o_fs2 348   21.0  PTSD, depression, anxiety, conduct disorder an...
           349   20.0                                                NaN
           350   27.0                                                NaN
ff         422   70.0                                                NaN
           423   23.0  PTSD, depression, anxiety, conduct disorder an...
           424   20.0                               psychiatric controls
ff_fs2     328   70.0                                            healthy
           329   21.0  PTSD, depression, anxiety, conduct disorder an...

               group_name               subgroup_name  male_count  \
model
gpt-4o     355   patients             childhood abuse        15.0
           356    healthy        psychiatric controls         NaN
           357    healthy            healthy controls         NaN
gpt-4o_fs2 348   patients  history of childhood abuse        15.0
           349    healthy        psychiatric controls         NaN
           350    healthy            healthy controls         NaN
ff         422    healthy                young people        23.0
           423   patients                young people        15.0
           424   patients                young people        10.0
ff_fs2     328    healthy                young people        23.0
           329   patients                young people        15.0

                female_count  age_mean  age_minimum  age_maximum  age_median  \
model
gpt-4o     355           6.0      17.5          NaN          NaN         NaN
           356           NaN       NaN          NaN          NaN         NaN
           357           NaN       NaN          NaN          NaN         NaN
gpt-4o_fs2 348           6.0      17.5          NaN          NaN         NaN
           349           NaN       NaN          NaN          NaN         NaN
           350           NaN       NaN          NaN          NaN         NaN
ff         422          20.0      25.5         18.0         30.0        25.0
           423          10.0      17.5         12.0         18.0        17.0
           424          10.0      25.5         18.0         30.0        25.0
ff_fs2     328          20.0      24.7         18.0         60.0        24.0
           329          10.0      17.5         18.0         60.0        17.0

               imaging_sample assesment_type
model
gpt-4o     355            yes            NaN
           356            yes            NaN
           357            yes            NaN
gpt-4o_fs2 348            NaN        imaging
           349            NaN        imaging
           350            NaN        imaging
ff         422             no            NaN
           423            yes            NaN
           424             no            NaN
ff_fs2     328            NaN        imaging
           329            NaN        imaging

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
163,21,Severe Childhood Abuse,patients,severe childhood abuse,15.0,6.0,17.5,NaN,NaN,NaN
164,19,NaN,patients,psychiatric controls,9.0,10.0,16.9,NaN,NaN,NaN
165,27,NaN,healthy,_,21.0,6.0,17.5,NaN,NaN,NaN

PMC ID:  9407088
Context:

### 3.2. Experiment Results

Taking an 8-year-old girl with autism, numbered 50,795 in the Autism Brain Imaging Data Exchange (ABIDE) dataset, as an example, this paper analyzes the custom template in the form of slices. The fMRI data size of the subject is  . After discarding the data images of the first four time points and eliminating the invalid data whose head movement exceeds the limit at two time points, the final effective data are  , and the size of the final built custom template is  , as shown in  .

The custom template has individual pertinence, that is, it is constructed by using the subjects’ fMRI sequence. Therefore, the constructed custom template is related to the subjects’ age and brain structure, and the subjects are different from each other.   shows the fMRI data of four example subjects with autism at five different time points and the custom built template in which sub50795 is an 8-year-old girl, sub50625 is a 7-year-old boy, sub51581 is a 64-year-old man, and sub50526 is a 50-year-old man. According to the sagittal diagram of the fMRI data of the four subjects, it can be found that there are very obvious differences in the brain structure, size, and development between the children and the adults. The user-defined fMRI template constructed for each subject retains the information contained in the images at different time points in the sequence data of the subjects to the greatest extent, especially for sub51581 and sub50526 of the two adults. Therefore, in the registration based on a single subject, it is more appropriate and reasonable to register the fMRI sequence data to the user-defined fMRI template than to randomly select the data at a certain time point as the reference image.

In order to verify the accuracy and rationality of the custom fMRI template, this paper uses several classical registration algorithms to evaluate the accuracy of the custom fMRI template. Under the two conditions of using the randomly selected time-point image as the reference image (in this experiment, the image of the first effective time point is directly used as the randomly selected time point) and using the user-defined fMRI template as the reference image, the registration accuracy of the fMRI sequence registration of the same subject is compared. In the experiment, the measurement value between the two images after the registration is calculated. And then, the average value is taken for display. Because both the image to be registered and the reference image are fMRI modes, the registration effect is evaluated by using the Mean Square Error (MSE), Advanced Normalized Correlation (NCC), Advanced Mattes Mutual Information (MI), and Normalized Mutual Information (NMI), commonly used to evaluate a single-mode registration. The matching criteria are to find the maximum correlation between the template and each subgraph, that is, the registered image. All the valid time-point data of 1114 subjects were registered with templates, and the average value of the evaluation indexes was displayed.

The smaller the mean square error (MSE), the better the registration effect. It can be observed from   that the self-defined fMRI template is used as the reference template for registration on the Affine, SyN of ANTs [ ], and VoxelMorph registration algorithms based on deep learning [ ]. The registration accuracy has been improved to varying degrees compared with using the randomly selected image at a certain   fMRI volume (the first effective time point is directly used in this experiment) as the reference template for registration.

Predictions:

                 count diagnosis group_name     subgroup_name  male_count  \
model
gpt-4o     426     4.0    autism   patients  example subjects         3.0
gpt-4o_fs2 425     1.0    autism   patients          sub50795         0.0
           426     1.0    autism   patients          sub50625         1.0
           427     1.0    autism   patients          sub51581         1.0
           428     1.0    autism   patients          sub50526         1.0
ff         507  1114.0    autism   patients     ABIDE dataset       557.0
           508     1.0    autism   patients   custom template         1.0
           509     1.0    autism   patients   custom template         0.0
ff_fs2     402  1114.0    autism   patients            autism       557.0

                female_count  age_mean  age_minimum  age_maximum  age_median  \
model
gpt-4o     426           1.0     32.25          7.0         64.0         NaN
gpt-4o_fs2 425           1.0      8.00          8.0          8.0         8.0
           426           0.0      7.00          7.0          7.0         7.0
           427           0.0     64.00         64.0         64.0        64.0
           428           0.0     50.00         50.0         50.0        50.0
ff         507         557.0     10.50          NaN         18.0        10.0
           508           0.0      8.50          8.0          8.0         8.0
           509           1.0      7.50          7.0          7.0         7.0
ff_fs2     402         557.0      8.00          8.0          8.0         8.0

               imaging_sample assesment_type
model
gpt-4o     426            yes            NaN
gpt-4o_fs2 425            NaN        imaging
           426            NaN        imaging
           427            NaN        imaging
           428            NaN        imaging
ff         507            yes            NaN
           508            yes            NaN
           509            yes            NaN
ff_fs2     402            NaN        imaging

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
415,539,autism spectrum disorder,patients,abide 1,NaN,NaN,NaN,NaN,NaN,NaN
416,521,autism spectrum disorder,patients,abide 2,NaN,NaN,NaN,NaN,NaN,NaN
417,573,NaN,healthy,abide 1,NaN,NaN,NaN,NaN,NaN,NaN
418,593,NaN,healthy,abide 2,NaN,NaN,NaN,NaN,NaN,NaN

In several examples, the fewshot2 prompt combined groups that should be separate, by either repeating the total count for several groups, or just reporting a single group.

Not sure why this happened. Should try to change to prompt to only identify what assesment type the original groups refer to, to exclude behavioral samples and no more.

### Summary

In general, GPT-4 does a much better job of reporting sub-groups and not the total sample size, like we want the output
FF sometimes combines diseased and healthy groups together, either repeating sample size, or reporting only a single total sample size.

It's possible better prompting could help here, but it's also worth looking at and assesing other models that are better than FF. Perhaps models based on LLama3 instead of LLama2 or Mixtral. Should also look at gpt-4-turbo and see if there's a way to motivate it to prevent laziness. Perhaps it can close the gap. 

At the hackathon we should also have a discussion about what a reasonable schema is for information we want to extract.