#### GPT 4o Few Shot assesesment
Qualitative assesment of fewshot and fewshot2 (are they really worse?)

Conclusion, with GPT 4o, zero shot actually performs best (perhaps overfiting less to the single example given)

In [2]:
import  pandas as pd
from IPython.display import display, HTML

In [9]:
# Load predictions
zeroshot = pd.read_csv('outputs/demographicseval_demographics-zeroshot_gpt-4o-2024-05-13_minc-40_maxc-4000_clean.csv')
fewshot = pd.read_csv('outputs/demographicseval_demographics-fewshot_gpt-4o-2024-05-13_minc-40_maxc-4000_clean.csv')
fewshot2 = pd.read_csv('outputs/demographicseval_demographics-fewshot2_gpt-4o-2024-05-13_minc-40_maxc-4000_clean.csv')

# Load only subset of columns
embeddings = pd.read_parquet('outputs/demographicseval_embeddings_minc-40_maxc-4000.parquet', 
                             columns=['content', 'start_char', 'end_char', 'pmcid', 'section_0', 'section_1'])

# Load annotations
annotations = pd.read_csv('annotations/combined_pd.csv').drop(columns=['Unnamed: 0'])
annotations.columns = annotations.columns.str.replace(' ', '_')

In [10]:
def _print_context(pmcid, annotation, predictions, embeddings):
    print("PMC ID: ", pmcid)
    subset_rows = ['count', 'diagnosis', 'group_name', 'subgroup_name',
       'male_count', 'female_count', 'age_mean', 'age_minimum', 'age_maximum',
       'age_median']
    
    pred_subset_cols = ['imaging_sample']
    
    if 'assesment_type' in predictions.columns:
        pred_subset_cols += ['assesment_type']
    
    annotation = annotation[(annotation.pmcid == pmcid)]
    annotation = annotation[subset_rows]

    pred = predictions[predictions.pmcid == pmcid]

    for start_char, g in pred.groupby('start_char'):
        print("Context: ")
        print(embeddings[(embeddings.pmcid == pmcid) & (embeddings.start_char == start_char)].content.values[0])

        print("Predictions: ")
        display(g[subset_rows + pred_subset_cols])

    print("Annotation: ")
    display(annotation)

In [16]:
z_mean = zeroshot.groupby('pmcid').apply(lambda x: x['count'].mean())
annot_mean = annotations.groupby('pmcid').apply(lambda x: x['count'].mean())
worst = ((z_mean-annot_mean) / annot_mean).abs().sort_values(ascending=False).head(10)

combined2 = pd.concat([zeroshot, fewshot, fewshot2], keys=['zero', 'few', 'few2'], names=['model'])

In [17]:
for i in worst.index:
    _print_context(i, annotations, combined2, embeddings)

PMC ID:  5598991
Context:

### 1.2 Participants

All patients were recruited from the outpatient clinic or inpatient wards of the Psychiatry Department of the First Affiliated Hospital of Kunming Medical University. Right-handed, 147 MDD patients (50 males and 97 females) met the criteria were recruited in the depression group. The inclusion criteria were as follows: ① The diagnosis of MDD was independently made by two experienced psychiatrists in accordance with the Diagnostic and Statistical Manual of Mental Disorders, fourth edition (DSM-IV, American Psychiatry Association, 1994), ② first episode without a history of antidepressants treatment, ③ be aged between 18–45 years, ④ the total score of 17-item Hamilton Depression Rating Scale (HDRS) was not less than 17, ⑤ right handedness, ⑥ the patients or their legal guardian signed the informed consent form. The exclusion criteria included the following items: ① having a history of Axis I psychiatric disorders. ② having a history of neurological illnesses or other severe diseases, ③ having a history of brain injury or obvious psychiatric symptoms, ④ with substance abuse, ⑤ having received electroconvulsive therapy (ECT), transcranial magnetic stimulation(TMS) or systematical psychotherapy, ⑥ pregnant or nursing women and ⑦ having physical limitations prohibiting them undergoing MRI scans.

130 sex-, and age-, matched healthy controls (49 males and 81 females) were also recruited in the healthy control group and excluded: ① with a family history of psychiatry, ② with a psychiatry disorder, ③ with a severe physical disease and/or neurological disease, ④ with substance abuse, ⑤ with a history of brain injury, ⑥ pregnant or nursing women, or ⑦ inability to undergo a MRI scan.

All participants underwent the MRI scans. All of the participants were recruited from February 2012 to July 2015. Each MDD patient and HC was assigned a number at the time of recruitment. Their data including demographic information, clinical and imaging data can be indentified through the number but not their name. The checklist is available as supporting information (see  )


Predictions:

           count diagnosis group_name          subgroup_name  male_count  \
model
zero  140  147.0       MDD   patients       depression group        50.0
      141  130.0       NaN    healthy  healthy control group        49.0
few   184  147.0       MDD   patients             depression        50.0
      185  130.0       NaN    healthy                control        49.0
few2  155  147.0       MDD   patients                    NaN        50.0
      156  130.0       NaN    healthy                    NaN        49.0

           female_count  age_mean  age_minimum  age_maximum  age_median  \
model
zero  140          97.0       NaN         18.0         45.0         NaN
      141          81.0       NaN          NaN          NaN         NaN
few   184          97.0       NaN         18.0         45.0         NaN
      185          81.0       NaN          NaN          NaN         NaN
few2  155          97.0       NaN         18.0         45.0         NaN
      156          81.0       NaN          NaN          NaN         NaN

          imaging_sample assesment_type
model
zero  140            yes            NaN
      141            yes            NaN
few   184            yes            NaN
      185            yes            NaN
few2  155            NaN        imaging
      156            NaN        imaging

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
196,58,early adult onset depression,patients,eod,NaN,NaN,NaN,NaN,NaN,NaN
197,62,later adult onset depression,patients,lod,NaN,NaN,NaN,NaN,NaN,NaN
198,60,NaN,healthy,young hc,NaN,NaN,NaN,NaN,NaN,NaN
199,52,NaN,healthy,old hc,NaN,NaN,NaN,NaN,NaN,NaN

PMC ID:  6016936
Context:

## 2. Experimental procedures and results

Predictions:

           count      diagnosis group_name subgroup_name  male_count  \
model
few2  417   20.0            NaN    healthy   left handed         7.0
      418   20.0            NaN    healthy  right handed         7.0
      419   16.0            NaN    healthy           NaN         7.0
      420   15.0  schizophrenia   patients           NaN         5.0

           female_count  age_mean  age_minimum  age_maximum  age_median  \
model
few2  417          13.0     25.53          NaN          NaN         NaN
      418          13.0     25.53          NaN          NaN         NaN
      419          12.0     24.70         19.0         30.0         NaN
      420          10.0     26.10         21.0         35.0         NaN

          imaging_sample assesment_type
model
few2  417            NaN     behavioral
      418            NaN     behavioral
      419            NaN        imaging
      420            NaN        imaging

Context:

### 2.1. Experimental procedures

During fMRI scanning, 24 participants (14 for Experiment 1, 10 for Experiment 2; 9 males) performed a motion direction discrimination task, in which they judged whether the motion direction of a random-dot kinematogram (RDK) stimulus was clock- or counter-clockwise relative to a static reference direction ( ). Four more participants performed a Supplementary Experiment, in which the RDK was presented in an annular region in the peripheral visual field, instead of the foveal visual field ( ). The task difficulty was manipulated by changing the angular difference between the reference and RDK directions (3°, 9°, and 15° in Experiment 1; 3°, 9°, 15°, and 80° in Experiment 2 and Supplementary Experiment). Both blocked and event-related designs were applied in all three experiments. All participants gave written, informed consent in accordance with the procedures and protocols approved by the human subject review committee of Peking University, Beijing, China.
   Stimulus and schematic description of a trial.
(A) Experiments 1 and 2: In each 3 sec trial, a cross was first presented at the center of the screen for 600ms. Its longer arm indicates the reference direction. After this reference, an RDK motion stimulus in a circular region with a radius of 4° was presented for 200ms. Participants discriminated whether the motion direction was clockwise or counterclockwise of the reference. The motion directions of RDK were 3°, 9°, 15° from the reference in Experiment 1, and 3°, 9°, 15°, 80° from the reference in Experiment 2, corresponding to the three and four levels of difficulty. (B) Supplementary Experiment: The moving dots of RDK were restricted to an annular region with an outer radius of 8° and an inner radius of 4°. The stimuli and experimental design were otherwise the same as in Experiment 2.


Predictions:

           count diagnosis group_name             subgroup_name  male_count  \
model
zero  384   24.0       NaN    healthy        Experiment 1 and 2         9.0
few   452   24.0       NaN    healthy        Experiment 1 and 2         9.0
      453    4.0       NaN    healthy  Supplementary Experiment         NaN

           female_count  age_mean  age_minimum  age_maximum  age_median  \
model
zero  384          15.0       NaN          NaN          NaN         NaN
few   452          15.0       NaN          NaN          NaN         NaN
      453           NaN       NaN          NaN          NaN         NaN

          imaging_sample assesment_type
model
zero  384            yes            NaN
few   452            yes            NaN
      453            yes            NaN

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
226,14,NaN,healthy,experiment 1,NaN,NaN,NaN,NaN,NaN,NaN
227,10,NaN,healthy,experiment 2,NaN,NaN,NaN,NaN,NaN,NaN

PMC ID:  7395771
Context:

## Methods

### Participants

Thirty-eight healthy, childless adults (age M = 24.08; SD = 3.33) took part in the study: 19 (10 females) who were working with children at the time of the study or who had worked with them in the past for more than half a year and 19 (10 females) who had never worked with children or who had worked with them for less than half a year. The weekly number of hours the WC group spent working with children ranged from 3.5 to 37.5 (M = 14.31; SD = 11.53). The professions of the participants were varied and included school and preschool teachers, sports instructors, babysitters, children’s physiotherapists, and camp counsellors. All participants were of Caucasian ethnicity. Participants were recruited via advertisements in various groups on Facebook. They were mostly students of Warsaw Universities, and all were native Polish speakers.

Subjects signed an informed consent form and were told about the possibility of resigning from further participation at any point of the study. Financial gratification in the amount of 100 PLN (approximately 20–25 EUR) was provided to each subject. The Committee for Research Ethics of the University of Warsaw approved the experimental protocol of the study. The experiment was conducted in compliance with the American Psychological Association’s (APA) Ethical Principles of Psychologists and Code of Conduct ( ).


Predictions:

          count diagnosis group_name   subgroup_name  male_count  \
model
zero  50   38.0      none    healthy  healthy adults        19.0
few   91   38.0       NaN    healthy         general        18.0
few2  58   38.0       NaN    healthy        WC group         9.0
      59   38.0       NaN    healthy    non-WC group         9.0

          female_count  age_mean  age_minimum  age_maximum  age_median  \
model
zero  50          19.0     24.08         20.0         28.0         NaN
few   91          20.0     24.08          NaN          NaN         NaN
few2  58          10.0     24.08          NaN          NaN         NaN
      59          10.0     24.08          NaN          NaN         NaN

         imaging_sample assesment_type
model
zero  50             no            NaN
few   91             no            NaN
few2  58            NaN     behavioral
      59            NaN     behavioral

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
319,19,NaN,healthy,work with children,9.0,10.0,NaN,NaN,NaN,NaN
320,19,NaN,healthy,no work with children,9.0,10.0,NaN,NaN,NaN,NaN

PMC ID:  5339238
Context:

## Materials and Methods

Participants were part of a longitudinal cohort study, which began recruitment in 1990 in order to conduct research on the behavioral, neuro-functional development and sleep-wake patterns effects of IDA in infancy. Six cognitive follow-ups were conducted at 12 and 18 months, 3, 5, 10 and 16 years old. The follow-ups included, among other measurements, cognitive assessment, academic achievements, socioeconomical and nutritional status. In brief, inclusion criteria were healthy full-term infants with birth weights ≥3.0 kg, no perinatal complications, and no acute or chronic illnesses. Infants were assessed for IDA at 6, 12 and 18 months. Anemia was defined as venous hemoglobin ≤100 g/L at 6 months and <110 g/L at 12 and 18 months. Iron deficiency was defined as at least two out of three iron measures in the iron-deficient range (mean cell volume <70 fl, erythrocyte protoporphyrin >100 μg/dL red blood cells [1.77 μmol/L], serum ferritin <12 μg/L). For each IDA infant, a non-anemic (venous hemoglobin ≥115 g/L) infant of the same age was randomly selected, constituting the “control group”. After initial testing, all infants were given supplemental iron for 6–12 months (Lozoff et al.,  ). No participant presented IDA thereafter.

In year 2014, all the cohort members who participated in the previous follow-ups and were approximately 22 years old were invited to perform a brain magnetic resonance. The present study involved 31 healthy young adult participants (17 controls and 14 FIDA) with a mean age of 21.5 years (±1.5 years), and 55% were male.

For current and background characteristics of the subjects we compared the Graffar scale (socio-ecomomical status; Richaud et al.,  ), performed the Spanish version of Manual for the State-Trait Anxiety Inventory (STAI “Self-Evaluation Questionnaire”; Guillén-Riquelme and Buela-Casal,  ), and established current occupation (employee, studying or unemployed).

The research protocol was approved by the Institutional Review Boards of the University of Michigan Medical Center, Ann Arbor, Institute of Nutrition and Food Technology (INTA), University of Chile, Santiago, and the Office of Protection from Research Risks, NIH. Participants signed an informed consent.

Predictions:

           count   diagnosis group_name      subgroup_name  male_count  \
model
zero  268   31.0         NaN    healthy  controls and FIDA        17.0
few   321   17.0  non-anemic    healthy           controls         9.0
      322   14.0  former IDA   patients               FIDA         8.0
few2  288   31.0         NaN    healthy                NaN        17.0

           female_count  age_mean  age_minimum  age_maximum  age_median  \
model
zero  268          14.0      21.5          NaN          NaN         NaN
few   321           8.0      21.5          NaN          NaN         NaN
      322           6.0      21.5          NaN          NaN         NaN
few2  288          14.0      21.5         20.0         23.0         NaN

          imaging_sample assesment_type
model
zero  268            yes            NaN
few   321            yes            NaN
      322            yes            NaN
few2  288            NaN        imaging

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
175,14,former iron deficiency anemia,patients,_,NaN,NaN,NaN,NaN,NaN,NaN
176,17,NaN,healthy,_,NaN,NaN,NaN,NaN,NaN,NaN

PMC ID:  8782893
Context:

## Materials and methods

### Participants

We included youths aged 5–18 years old selected from ongoing accelerated longitudinal cohort studies at the National Institutes of Health [ ,  ,  ]. For inclusion, participants had to have two good quality resting-state scans at least 0.5 years apart and contemporaneous symptom assessments. Given our interest in ADHD, the sample was enriched for ADHD symptoms. This was achieved, in part, by targeting the recruitment of children and adolescents with ADHD traits regardless of diagnostic status, in addition to the specific recruitment of children and adolescents with ADHD diagnoses (e.g., from local clinics and support groups). We also included data from our study of multigenerational ADHD families, in which multiple family members met diagnosis for ADHD [ ]. Therefore, across the entire dataset analyzed for the present analysis, subjects were from 167 nuclear families. Of these, 120 had one member and 47 had more than one member within our age range and with usable imaging data and concurrent symptom assessments. Owing to the non-independence of observations, we included only one subject per nuclear family in the analysis. Given our interest in the relationship between brain connectivity and ADHD symptoms, when selecting subjects for inclusion from each family we chose the family member reporting >0 symptoms during at least one time point. Where all subjects from a family reported either zero symptoms or greater than zero symptoms, subjects were chosen based on image quality (i.e. smallest amount of motion, averaged over the two scans). The results also remained when choosing all subjects based on image quality. See Supplement for details.

ADHD symptoms were assessed using the parental Diagnostic Interview for Children and Adolescents-IV (DICA-IV) which establishes the number of symptoms of inattention and hyperactivity/impulsivity (with a range from 0 to a maximum of 9 symptoms in each category) [ ]. Interviews were conducted by two experienced clinicians (W.S. and P.S.) with interrater reliabilities of   κ   > 0.9. If subjects were taking psychostimulant medication, this was withdrawn at least 24 h before testing, and parents rated symptoms as they appear while the child is off medication. Potential comorbid disorders were also determined via clinical interviews. Exclusion criteria included IQ less than 80 as determined via the Wechsler intelligence scale [ ,  ], neurologic disorders affecting brain structure, current substance dependence, or psychotic disorders. Other disorders, including mood, anxiety, autism spectrum, and oppositional defiant disorders, were permitted. Written informed consent and assent was obtained for all patients and/or their legal guardians, according to procedures reviewed and approved by the institutional review board of the National Human Genome Research Institute, who also approved the research protocol.


Predictions:

,,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median,imaging_sample,assesment_type
model,,,,,,,,,,,,,
zero,303,167.0,ADHD,patients,ADHD patients,NaN,NaN,NaN,5.0,18.0,NaN,yes,NaN
few,360,167.0,ADHD,patients,NaN,NaN,NaN,NaN,5.0,18.0,NaN,yes,NaN
few2,323,167.0,ADHD,patients,NaN,NaN,NaN,NaN,5.0,18.0,NaN,NaN,imaging

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
387,88,attention/deficit hyperactivity disorder,patients,_,NaN,NaN,NaN,NaN,NaN,NaN
388,79,NaN,healthy,_,NaN,NaN,NaN,NaN,NaN,NaN

PMC ID:  3520927
Context:

## Materials and Methods

### Participants

There were two sub-studies. The whole study was approved by the Institutional Review Board of the State Key Laboratory of Cognitive Neuroscience and Learning, Beijing Normal University. The first sub-study was an APOE genotype screening study. 1220 students at Beijing Normal University were enrolled by advertisement when they were taking a freshmen entrance physical examination. After they gave a written informed consent, 4 ml extra blood was obtained when they were undergoing blood sampling during the physical examination. They were told that DNA genotyping results would not be sent to them.

Genomic DNA was extracted from the peripheral blood leukocytes using salting out method  . 917 of the 1220 samples were genotyped for the APOE allele type using PCR-RFLP  . Six APOE genotypes were identified: ε2/ε2 (N = 1), ε2/ε3 (N = 52), ε2/ε4 (N = 13), ε3/ε3 (N = 799), ε3/ε4 (N = 51) and ε4/ε4 (N = 1).

It has been reported that APOE ε2 may exert protective effects  . It is therefore expected that effects of the ε2/ε3 vs. ε3/ε4 may be larger than those of ε3/ε3 vs. ε3/ε4. About one year later, 40 healthy Han Chinese students (aged 18 - 23 years of age), 20 for ε2/ε3 group and 20 for ε3/ε4 group, were chosen from the above sample while the sex was matched between the two groups. The number of participants were kept similar from each college of Beijing Normal University. All participants were right-handed and without a family history of AD by self report. None of the participants had current or past history of neurological or psychiatric disorders. All participants gave written informed consent for MRI scanning and they did not know their genotypes. 35 participants completed the Wechsler Adult Intelligence Scale-Revised for China (WAIS-RC). After the MRI scanning, they were all paid for their participation. One ε2/ε3 participant was excluded because of abnormal brain structure.


Predictions:

           count diagnosis group_name subgroup_name  male_count  female_count  \
model
zero  304   20.0  APOE 2/3    healthy           2/3        10.0          10.0
      305   19.0  APOE 3/4    healthy           3/4         9.0          10.0
few   358   20.0       NaN    healthy  2/3 genotype        10.0          10.0
      359   19.0       NaN    healthy  3/4 genotype        10.0           9.0
few2  324   20.0       NaN    healthy           2/3        10.0          10.0
      325   20.0       NaN    healthy           3/4        10.0          10.0

           age_mean  age_minimum  age_maximum  age_median imaging_sample  \
model
zero  304      20.5         18.0         23.0        20.5            yes
      305      20.5         18.0         23.0        20.5            yes
few   358       NaN         18.0         23.0         NaN            yes
      359       NaN         18.0         23.0         NaN            yes
few2  324       NaN         18.0         23.0         NaN            NaN
      325       NaN         18.0         23.0         NaN            NaN

          assesment_type
model
zero  304            NaN
      305            NaN
few   358            NaN
      359            NaN
few2  324        imaging
      325        imaging

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
45,1220,NaN,healthy,study 1,NaN,NaN,NaN,NaN,NaN,NaN
46,40,NaN,healthy,study 2,NaN,NaN,NaN,NaN,NaN,NaN

PMC ID:  6492297
Context:

# Body

## INTRODUCTION

Suppose that we are interested in testing hypotheses about variables, or set of variables, which we can observe on multiple occasions such that we may obtain a number of noisy measures of the same underlying (unobserved) feature or process. This can happen when we replicate a measurement on multiple occasions for each subject, or if the design of the experiment is such that the repetitions are independent of each other (which would not be the case, for example, if there is a strong effect of learning or habituation across runs). This can also happen when we are modeling data using an approach that is complex enough that inferences about the model parameters can be slightly different every time we estimate the model, for example, with different arbitrary initializations. This is the case, for example, for independent component analysis (ICA, Hyvarinen & Oja,  ; Beckmann, DeLuca, Devlin, & Smith,  ) and Hidden Markov models (HMM, Rabiner,  ; Vidaurre et al.,  ).

In nondeterministic approaches such as ICA and HMM, the degree to which different initializations will lead to different estimates (i.e., different local minima) of the model parameters depends on elements such as the signal‐to‐noise ratio, training parameters, and amount of available data (Himberg, Hyvärinen, & Exposito,  ). Successive runs of the algorithm may find local minima that are equally good or equally likely, or it may find suboptimal local minima. While in some settings an appropriate figure of merit (e.g., residual sum of squares or model evidence) can adjudicate between these different estimates, sometimes no practical or definitive model comparison score is available; furthermore, even when a score is available, this is typically an approximation or a heuristic, and it is possible that many models with very similar scores will be found. Here we claim that all models are potentially useful and that an effective combination can be more powerful than choosing a single model. More specifically, in this work, we take up the issue of making inference on these noisy replicate estimates, relating the estimates on a group of subjects to variables such as demographics, behavior or personality scores. For this, we are not interested in whether each score relates to each individual replicate; rather, we aim to assess, based on a single global test over the pool of estimates, whether there is evidence that each score holds a significant association with the estimated measure.

Based on the principles of permutation testing, this article presents a simple approach where we use the   non‐parametric combination   NPC algorithm (Pesarin & Salmaso,  ; Winkler et al.,  ) to combine results from multiple functional connectivity (FC) estimations, regardless of whether the replications are at the level of data acquisition or model inference. This approach is useful in estimating effects that explain the underlying data that is the focus of the analysis. We demonstrate the validity of this method on the HMM, using simulations and data from the Human Connectome Project (Smith et al.,  ), where we test a measure of (resting state fMRI) dynamic FC over 100 different HMM runs against a number of behavioral variables measured across hundreds of subjects.


Predictions:

,,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median,imaging_sample,assesment_type
model,,,,,,,,,,,,,
zero,387,100.0,NaN,healthy,Human Connectome Project,NaN,NaN,NaN,NaN,NaN,NaN,yes,NaN
few,456,100.0,NaN,healthy,HMM,NaN,NaN,NaN,NaN,NaN,NaN,yes,NaN

Context:

## DYNAMIC FUNCTIONAL CONNECTIVITY IN REAL DATA

Having demonstrated the utility of the NPC approach to relate FC to behavior in a synthetic scenario where the estimation was very noisy, we next evaluated it using real data by applying the Hidden Markov model (HMM) to resting state fMRI data from the Human Connectome Project (HCP). The HMM assumes that the data can be described using a finite number of states. Each state is represented using a probability distribution, which in this case is chosen to be a Gaussian distribution (Vidaurre, Smith, & Woolrich,  ); that is, each state is described by a characteristic pattern of BOLD activation and a certain FC profile (we use the same configuration as in Vidaurre, Smith, and Woolrich ( ), to which we refer for further details). As the HMM is applied at the group level, the estimated states are shared across subjects; however, the state time courses that indicate the moments in time when each state is active are unique to a given individual. For the purposes of this analyses, we set the HMM to have 12 states. Note that, as discussed in former work (Vidaurre et al.,  ), there is no specific biological significance in the chosen number of states, and a different number of states just provide different levels of detail in the HMM decomposition. Here, we chose 12 states simply to be consistent with our previous work on this data set (Vidaurre, Smith, & Woolrich,  ). Using the inferred state time courses, the amount of   state‐switching   for each subject was calculated, which corresponds to a metric of how frequently subjects transition between different brain states (more specifically, given that the state time courses are probabilistic assignments, we compute the mean derivative of the state time courses for each subject). We used state‐switching as a summary metric of dynamic functional connectivity (DFC).

In order to infer the HMM at reasonable cost in spite of the large amount of data (820 subjects by four sessions by 15 min, TR = 0.75 s), we used a stochastic learning procedure (Vidaurre et al.,  ), which involved performing noisy, yet economical, updates during the inference. Since stochastic inference brings an additional layer of randomness into the HMM estimation but is not costly to run, we repeated the HMM inference 100 times and computed state‐switching for each run. In this context, each HMM estimation constitutes a replication. Following the paper notation, we denote the state‐switching measure for subject   n   and replication   j   (averaged across the four sessions) as   Y  .

Although stochastic inference adds additional randomness to the estimation, the HMM has have previously been reported to perform very robustly in this data set (Vidaurre, Smith, & Woolrich,  ), possibly as a consequence of the large number of subjects (  N   = 820), the length of the scanning sessions, and the general high quality of the data. For this reason, the different HMM runs were quite consistent, which in turn means that the tests produce relatively similar results across replications (as shown below). To illustrate the effect of greater noise, we created a second set of replications where we permuted the state‐switching measure between subjects randomly for half of the HMM runs (i.e., half of the HMM runs, or replications, are potentially related to behavior whereas the other half are noise, and all of them are included in the analysis). We refer to this as the   perturbed   data, as opposed to the   original   data where the HMM estimations are left intact.

Predictions:

,,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median,imaging_sample,assesment_type
model,,,,,,,,,,,,,
few2,423,820.0,NaN,healthy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,imaging

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
261,820,NaN,healthy,HCP,NaN,NaN,NaN,NaN,NaN,NaN

PMC ID:  5902547
Context:

## Materials and Methods

### Participants

Seventeen people (12 females) with a mean age of 24 years (standard deviation +−3.58, range 18–31) took part in the study. All participants were right-handed native German volunteers with no neurological or psychiatric history. The participants gave written informed consent to the study, which adhered to the Declaration of Helsinki and was approved by the ethical committee of the University of Magdeburg, Germany (ethical committee: 133/12, clinical trials: NCT02517060).


Predictions:

,,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median,imaging_sample,assesment_type
model,,,,,,,,,,,,,
few,64,17.0,NaN,healthy,NaN,5.0,12.0,24.0,18.0,31.0,NaN,no,NaN
few2,35,17.0,NaN,healthy,NaN,5.0,12.0,24.0,18.0,31.0,NaN,NaN,other

Context:

### Procedure

Participants were told that they would perform two separate experiments in the session: an experiment in order to examine neural correlates of touch experiences and an experiment to investigate neural correlates of judgments processes (cover story).

The study design included one factor, tactile priming, which was hard, soft, or omitted (no tactile stimulation). Priming was done by using soft (foam material) or hard (wood) objects (comparable weight, seize and shape). At the beginning of the priming phase an experimenter placed the hard or soft object to the participant’s hand in a way that he or she was able to feel the object between his or her thumb and other fingers. The participant did not hold the object in his or her own hand. Hence, the participant was not able to see the objects, freely explore the object, feel the shape or the weight of the object, or swipe on the objects to assess the surfaces. He or she was only allowed (and clearly instructed before) to repetitively press and feel the hardness or softness of the objects by using thumb and residual fingers, while this object was hold by the experimenter. Prior to the beginning of the experiment we made the participant familiar with the task.

While horizontally reclined in the scanner the participants received one of the priming stimuli (a hard, a soft, or no object). Participants were allowed to feel the hardness of those stimuli by repetitively touching them for about 15 seconds. After this priming, participants were prompted with a screen describing a crime scenario. These scenarios covered crimes such as burglaries, criminal assaults, murderers, as well as cheating and drug offences. All scenarios were ambivalently valenced in order to prevent straightforward judgments. Thus, the scenarios included both positive (mitigating) and negative components. For example, participants read the following scenario: “A twenty-year-old man drove his friends to a night club. Because he was intoxicated and the atmosphere in the car was distracting, he ran a red light, thereby causing a serious traffic accident. Later on, the young driver apologized for his actions when meeting the injured persons”. The presentation of the scenario lasted for 16 seconds. The subsequent screen asked the participants to give their judgment as to how seriously the protagonist should be punished (“How seriously should the young man be punished? More seriously: right buttons. Less seriously: left buttons”). Participants used two keys with four buttons for each hand (8-point Likert-scale ranging from 1 to 8) to judge the crimes. Before the experiment, they were told that they could weight their responses from moderate (inner buttons) to extreme (outer buttons). Use of right and left buttons was randomized over the scenarios. Participants had 14 seconds to give their judgment (earlier responding did not automatically start the next trial). Then there was a break of 12 seconds until the next trial started. We used brain activity in a time window around the button press in order to assess comparable parts of the judgment process for all participants. Hence, condition-related activity was measured using an individual “floating” time window of eight MR images (four images before, one during, and three after the button press, resulting in 16 seconds) covering the time of the point of response .

A total of 60 scenarios was shown to each participant. The order of presentation of the scenarios as well as the kind of priming for the scenarios (hard, soft, or no object) was randomized between and within the subjects. Prior to the beginning of the experiment we made the participants familiar with the task.

Predictions:

,,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median,imaging_sample,assesment_type
model,,,,,,,,,,,,,
zero,28,60.0,NaN,healthy,participants,NaN,NaN,NaN,NaN,NaN,NaN,yes,NaN

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
220,41,NaN,healthy,experiment 1,16.0,25.0,19.0,NaN,NaN,NaN
221,44,NaN,healthy,experiment 2,11.0,33.0,22.0,NaN,NaN,NaN
222,17,NaN,healthy,study 2 experiment 1,5.0,12.0,24.0,18.0,31.0,NaN

PMC ID:  8018944
Context:

## Methods

### fMRI experiment

#### Participants

Thirty-two healthy volunteers (21 females, mean age and standard error (SE): 23 ± 0.41 years) participated in this fMRI experiment. They were all right-handed according to the Edinburgh inventory questionnaire , had no history of neurological or psychiatric disorders, had normal or corrected-to-normal vision, and were unaware of the purpose of the study. They gave their written informed consent prior to the experiment. The study was non-invasive, performed in accordance with the ethical standards of the Declaration of Helsinki, and approved by the Biomedical Ethical Committee of the Université catholique de Louvain. The data of one participant were excluded because of drifts superior to 5 mm in translation in the functional images and those of another participant because unusually strong susceptibility artifacts were visible at the level of the frontal cortex. The analyses were conducted on the 30 remaining participants.


#### Tasks and stimuli

The fMRI experiment included a prospective graspability judgment, a motor imagery, and a perceptual length judgment task as well as their reference tasks (Fig.  A). The graspability judgment (GJ) required participants to judge whether they would be able to grasp a rectangle lengthways between their index finger and thumb, without actually moving their fingers. To minimize head motion, participants had to respond “yes” aloud only when they judged the rectangle as graspable but stay silent when they judged it as ungraspable. The stimuli consisted of seven black rectangles with a height of 1 cm and a length equal to the maximum grip aperture (MGA) of the participant ± 0, 1, 2, or 5 cm. The reference task was a detection task in which the participant was required to say “yes” aloud when each time a 3 × 1 cm rectangular shape appeared on the screen. The motor imagery task (MI) required participants to imagine themselves grasping an object displayed on the screen as if they were about to use it. The stimuli consisted of colored pictures of 40 everyday objects (see Supplementary Fig.  ). The reference task consisted of the display of the same pictures scrambled in such a way that objects could no longer be identified. The length judgment (LJ) required participants to judge whether a rectangle was larger or not than a standard shown just before the beginning of the acquisition run. Participants had to respond “yes” aloud when the bar was larger than the standard and stay silent when the response was “no”. The stimuli and the reference task were the same as those used for the graspability judgment, except that the stimulus length was computed from the MGA of another participant ± 0, 1, 2, or 5 cm, so that the references used for length and graspability judgments were different for each participant but equal across participants (mean ± SE: 12 ± 0.18 cm).
Schematic representation of the time course of the fMRI experiment. Part (  A  ) represent the experimental tasks and their reference with an example of stimuli used, and part (  B  ) an example of acquisition run structure. Each run consisted of 20-speriods of one of the experimental task or its reference alternating with 10 s-periods of fixation.



#### Procedure

Predictions:

,,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median,imaging_sample,assesment_type
model,,,,,,,,,,,,,
zero,253,30.0,NaN,healthy,healthy volunteers,9.0,21.0,23.00,NaN,NaN,NaN,yes,NaN
few,308,30.0,NaN,healthy,fMRI experiment,9.0,21.0,30.41,NaN,NaN,NaN,yes,NaN
few2,273,30.0,NaN,healthy,NaN,9.0,21.0,30.41,NaN,NaN,NaN,NaN,imaging

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
361,30,NaN,healthy,fmri experiment,9.0,21.0,23.0,NaN,NaN,NaN
362,9,NaN,healthy,tms-mep experiment,2.0,7.0,24.0,NaN,NaN,NaN

PMC ID:  8315277
Context:

## Materials and Methods

### Participants

We recruited 104 patients with WMHs (39 with mild WMHs, 37 with moderate WMHs, and 28 with severe WMHs) and 37 HCs. The clinical manifestations of WMHs are heterogeneous, and the clinical symptoms of WMHs do not exhibit a pattern; therefore, there are no established diagnostic criteria. Consequently, the diagnostic criteria mainly depend on imaging features. As a result, the inclusion criteria for the WMHs group were as follows: (1) age between 40 and 80 years and (2) visible WMHs on T2 fluid-attenuated inversion recovery (T2 FLAIR). The exclusion criteria were as follows: (1) intracranial and extracranial stenosis >50%; (2) Trial of Org 10172 in Acute Stroke Treatment classification suggestive of cardiogenic stroke; (3) non-CSVD-related WMHs (e.g., multiple sclerosis); (4) mental disorders or alcohol addiction; (5) dementia or tumors; (6) intracranial hemorrhage; (7) significant hearing or visual impairment, physical movement disorders that prevented co-operation during cognitive testing, (8) language barrier, and (9) contraindications to MRI or known claustrophobia. Patients with WMHs were classified based on the Fazekas scores as mild group, moderate group, or severe group. Periventricular hyperintensity (PVH) and deep white matter hyperintensity (DWMH) were scored separately using a four-point scale according to the Fazekas scale on FLAIR images. The PVH scores were categorized as follows: 0, absent; 1, caps or pencil-thin lining around ventricles; 2: smooth halo around ventricles; 3: irregular PVH lesions extending into the deep white matter. DWMH scores were categorized as follows: 0, absence; 1, punctate foci; 2, beginning confluence of foci; and 3, large confluent areas. The Fazekas score is the sum of the PVH and DWMH scores. The mild WMHs group scored 1–2, the moderate WMHs group scored 3–4, and the severe WMHs group scored 5–6. Finally, we included 39 patients in the mild group, 37 patients in the moderate group, and 28 patients in the severe group. Thirty-seven HCs who were relatives of patients with WMHs and social recruits studied during the same period who matched the demographic data of the patients with WMHs, including age, sex, and years of education, and who had no previous history of neurological disease or mental illness were also included. Imaging revealed no WMHs.

All participants provided written informed consent to our protocol, which was approved by the medical ethics committee of the First Affiliated Hospital of Anhui Medical University.


Predictions:

           count      diagnosis group_name subgroup_name  male_count  \
model
zero  233   39.0      mild WMHs   patients          mild         NaN
      234   37.0  moderate WMHs   patients      moderate         NaN
      235   28.0    severe WMHs   patients        severe         NaN
      236   37.0        no WMHs    healthy           HCs         NaN
few   285   39.0      mild WMHs   patients          mild         NaN
      286   37.0  moderate WMHs   patients      moderate         NaN
      287   28.0    severe WMHs   patients        severe         NaN
      288   37.0            NaN    healthy           NaN         NaN
few2  253   39.0      mild WMHs   patients          mild         NaN
      254   37.0  moderate WMHs   patients      moderate         NaN
      255   28.0    severe WMHs   patients        severe         NaN
      256   37.0            NaN    healthy           NaN         NaN

           female_count  age_mean  age_minimum  age_maximum  age_median  \
model
zero  233           NaN       NaN         40.0         80.0         NaN
      234           NaN       NaN         40.0         80.0         NaN
      235           NaN       NaN         40.0         80.0         NaN
      236           NaN       NaN          NaN          NaN         NaN
few   285           NaN       NaN         40.0         80.0         NaN
      286           NaN       NaN         40.0         80.0         NaN
      287           NaN       NaN         40.0         80.0         NaN
      288           NaN       NaN          NaN          NaN         NaN
few2  253           NaN       NaN         40.0         80.0         NaN
      254           NaN       NaN         40.0         80.0         NaN
      255           NaN       NaN         40.0         80.0         NaN
      256           NaN       NaN          NaN          NaN         NaN

          imaging_sample assesment_type
model
zero  233            yes            NaN
      234            yes            NaN
      235            yes            NaN
      236            yes            NaN
few   285            yes            NaN
      286            yes            NaN
      287            yes            NaN
      288            yes            NaN
few2  253            NaN        imaging
      254            NaN        imaging
      255            NaN        imaging
      256            NaN        imaging

Annotation:

,count,diagnosis,group_name,subgroup_name,male_count,female_count,age_mean,age_minimum,age_maximum,age_median
370,104,White matter hyperintensities,patients,_,NaN,NaN,NaN,NaN,NaN,NaN
371,37,NaN,healthy,_,NaN,NaN,NaN,NaN,NaN,NaN